.Auth
{
  display: flex;
  position: absolute;
  z-index: 6;
  padding: $gutter;
  width: 100%;
  height: 100%;
  align-items: center;
  flex-direction: column;
  justify-content: center;

  &--gone
  {
    display: none;
  }

  &-top
  {
    @include color(trans, background-color);
    @include color(opp);
    width: 100%;
    max-width: 360px;
    padding: $gutter $gutter $gutter/4;
    text-align: center;
  }

  &-heading
  {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &-logo
  {
    height: 30px;
    margin-right: $gutter-mini/2;

    @include bplte(xs)
    {
      height: 20px;
    }
  }

  &-headingText
  {
    font-size: 32px;
    font-weight: bold;

    @include bplte(xs)
    {
      font-size: 24px;
    }
  }

  &-description
  {
    @include color(opp, border-color);
    border-top: $border-thin;
    font-weight: normal;
    margin-top: $gutter-mini/2;
    padding-top: $gutter-mini/2;
  }

  &-container
  {
    @include color(trans, background-color);
    width: 100%;
    max-width: 360px;
    padding: 0 $gutter $gutter/4;
  }

  .firebaseui-container
  {
    background-color: $white;
  }

  .firebaseui-page-provider-sign-in
  {
    background-color: transparent;
  }

  &-nosignin
  {
    @include color(trans, background-color);
    @include color(opp);
    width: 100%;
    max-width: 360px;
    padding: 0 $gutter/2 $gutter;
    font-size: 16px;
    font-style: italic;
  }
}
