.Controls
{
  @include color(trans, background-color);
  @include color(opp);
  position: absolute;
  z-index: 1;
  top: $main-header-height;
  left: $gutter;
  padding: $gutter 0;

  @include bplte(xs)
  {
    width: calc(100% - #{$gutter*2});
  }

  &--settings &-exCol
  {
    display: none;
  }

  &-titleWrap
  {
    display: flex;
    width: 100%;
    padding: 0 $gutter;
  }

  &-title
  {
    @include Focus-name;
    flex-grow: 1;

    &--input
    {
      margin-right: $gutter/2;
    }
  }

  &-dummyStar
  {
    @include color(far);
    font-size: 24px;
  }

  &-main
  {
    display: flex;
    margin-top: $gutter;
    padding: 0 $gutter;

    @include bplte(xs)
    {
      flex-direction: column;
    }
  }

  &-left
  {
    margin-right: $gutter;

    @include bplte(xs)
    {
      margin-right: 0;
      display: flex;
    }
  }

  &-shareWrap
  {
    margin-top: $gutter/2;
  }

  &-share
  {
    font-style: italic;
    display: flex;
    align-items: center;

    i
    {
      font-size: 24px;
      margin-right: $gutter-mini/2;
    }

    @include hoverActive
    {
      .Controls-shareText
      {
        text-decoration: underline;
      }
    }
  }

  &-toggleButton
  {
    @include color(opp, border-color);
    border-top: $border-thin;
    margin-top: $gutter-mini;
    padding-top: $gutter-mini;
    display: flex;
    min-height: $gutter-mini*3;
    align-items: center;
  }

  &-toggler
  {
    @include color(opp, border-color);
    background-color: transparent;
    border: $border-default;
    position: relative;
    height: $gutter-mini*2;
    width: $gutter-mini*3;
    border-radius: $gutter-mini;
    margin-right: $gutter-mini;
  }

  &-toggleSlider
  {
    @include color(opp, border-color);
    border: $border-default;
    background-color: transparent;
    position: absolute;
    left: 2px;
    top: 2px;
    height: $gutter;
    width: $gutter;
    border-radius: $gutter/2;
    transition: left $transition-slow;

    .Controls-toggler--on &
    {
      @include color(opp, border-color);
      border: $border-default;
      left: calc(100% - #{$gutter} - 2px);
    }
  }

  &-private
  {
    position: relative;
    font-size: 20px;
    height: $gutter-mini*2;
    width: $gutter-mini*3;
    margin-right: $gutter-mini;
  }

  &-settings,
  &-save,
  &-undo,
  &-back
  {
    @include color(opp, border-color);
    border: $border-thin;
    display: block;
    width: $gutter*3;
    height: $gutter*3;
    transition: background-color $transition-slow, font-size $transition-slow;
    font-size: 24px;

    @include hoverActive
    {
      @include color(opp, background-color);
      @include color(near);
      font-size: 32px;
    }

    &:not(:first-child)
    {
      margin-top: $gutter/2;

      @include bplte(xs)
      {
        margin-top: 0;
        margin-left: $gutter/2;
      }
    }

    i
    {
      margin: auto;
    }
  }

  &-exCol
  {
    flex-grow: 1;
    display: flex;
    justify-content: flex-end;
    align-items: center;

    @include bpgte(sm)
    {
      display: none;
    }

    &--expanded i
    {
      transform: rotate(180deg);
    }

    i
    {
      transition: transform $transition-slow;
    }
  }

  &-exColText
  {
    padding: 0 $gutter/2;
  }

  &-right
  {
    display: flex;
    flex-direction: column;
    overflow-y: auto;

    @include bpgte(sm)
    {
      height: 100%;
      max-height: calc(100vh - #{$main-header-height + $gutter*4 + 38px});
      max-width: 330px;
    }

    @include bplte(xs)
    {
      margin-top: $gutter-mini;
      max-height: calc(50vh - #{$main-header-height/2 + $gutter*10});
      flex-grow: 1;
      transition: all $transition-slow;

      &--collapsed
      {
        margin-top: 0;
        max-height: 0;
        overflow: hidden;
      }

      &--expanded
      {
        .isIOS &
        {
          max-height: calc(50vh - #{$gutter*15});
        }
      }
    }
  }

  &-userRow
  {
    display: block;
  }

  &-name
  {
    @include color(opp, border-color);
    border-right: $border-default;
    padding-right: $gutter;
    margin-right: $gutter;
    display: inline-block;
  }

  &-otherSystems,
  &-ownSystems
  {
    @include color(opp, border-color);
    border-top: $border-thin;
    margin-top: $gutter-mini;
    padding-top: $gutter-mini;
  }

  &-otherSystem
  {
    display: block;
    padding: $gutter-mini/2 0 0;
    font-style: italic;
  }

  &-ownSystem
  {
    display: block;
    font-style: italic;
  }

  &-designation
  {
    @include color(opp, border-color);
    border-top: $border-thin;
    margin-top: $gutter-mini;
    padding-top: $gutter-mini;
    flex-grow: 1;
    text-align: center;
    opacity: 0.85;
  }

  &-logo
  {
    height: $gutter-mini*4;
  }

  &-copyright
  {
    font-size: $gutter-mini;
    margin-top: $gutter/2;
  }

  &-privacy
  {
    font-size: $gutter-mini;
  }

  &-source
  {
    font-size: $gutter-mini;
    margin-left: $gutter/2;
  }

  &-lineWrap
  {
    @include SlideHover;
    display: flex;
    align-items: center;
    width: 100%;

    @include bplte(xs)
    {
      padding: $gutter/2 0;
    }

    @include bpgte(sm)
    {
      &:not(:first-child)
      {
        margin-top: $gutter-mini/2;
      }
    }
  }

  &-linePrev
  {
    @include color(opp, border-color);
    border: $border-default;
    width: $gutter;
    height: $gutter;
    margin-right: $gutter/2;
    flex-shrink: 0;
  }

  &-line
  {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  &-newLineWrap
  {
    margin-top: $gutter/2;
  }

  &-newLine
  {
    font-style: italic;
  }
}
