.Discover
{
  position: relative;
  flex-grow: 1;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: auto;

  &-feature
  {
    width: 100%;
  }

  &-wrapper
  {
    width: 100%;
    padding-bottom: $gutter;
  }

  &-userWrap
  {
    @include color(nearer, background-color);
  }

  &-noUserContent
  {
    @include container;
    display: flex;
    justify-content: center;
    padding-top: $gutter*2;
    padding-bottom: $gutter*2;
  }

  &-start
  {
    @include color(opp, background-color);
    @include color(near);
    @include color(opp, border-color);
    border: $border-thin;
    padding: $gutter/2;
    min-width: 200px;
    text-align: center;
    transition: background-color $transition-fast, color $transition-fast;

    @include hoverActive
    {
      @include color(opp);
      background-color: transparent;
    }
  }

  &-userContent
  {
    @include container;
    display: flex;
    width: 100%;
    text-align: center;
    padding-top: $gutter*2;
    padding-bottom: $gutter*2;

    @include bplte(xs)
    {
      flex-direction: column;
    }
  }

  &-col
  {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &-col--links:not(:first-child)
  {
    @include bpgte(sm)
    {
      @include color(opp, border-color);
      border-left: $border-thin;
    }

    @include bplte(xs)
    {
      .Discover-linkHeading
      {
        @include color(opp, border-color);
        border-top: $border-thin;
        margin-top: $gutter;
        padding-top: $gutter;
      }
    }
  }

  &-linkHeading
  {
    font-size: $gutter*2;
    font-weight: bold;
    margin-bottom: $gutter-mini;
    padding: 0 $gutter;
  }

  &-ownLinks,
  &-starLinks
  {
    display: flex;
    flex-direction: column;
  }

  &-ownLinkTitle
  {
    font-size: $gutter-mini*2;
    font-weight: bold;
  }

  &-ownLinkInfo
  {
    font-size: $gutter;
  }

  &-fallback
  {
    font-style: italic;
  }

  &-cityContent
  {
    @include container;
    padding-top: $gutter*2;
    padding-bottom: $gutter*2;
  }

  &-cityCols
  {
    display: flex;
    width: 100%;

    @include bplte(xs)
    {
      flex-direction: column;
    }
  }

  &-cityHeading
  {
    font-size: $gutter*2;
    font-weight: bold;
    text-align: center;
    margin-bottom: $gutter-mini;

    @include bplte(xs)
    {
      margin-bottom: $gutter/2;
    }
  }

  &-cityName
  {
    font-size: $gutter;
    font-weight: bold;
    margin-bottom: $gutter-mini;

    @include bplte(xs)
    {
      display: none;
    }
  }

  &-cityMap
  {
    width: 100%;
    padding: 0 $gutter/2;

    @include bplte(xs)
    {
      padding: $gutter/2;
    }
  }
}
