.Explore
{
  &-container
  {
    @include color(opp);
    @include color(near, background-color);
    position: relative;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &-header
  {
    @include container;
    position: absolute;
    display: flex;
    justify-content: space-between;
    top: $gutter;
    width: 100%;
    padding: 0 $gutter;
    z-index: 1;
  }

  &-logoLink
  {
    display: flex;
    align-items: center;
  }

  &-logo
  {
    height: 38px;
  }

  &-inputWrap
  {
    position: relative;
    width: percentage(1/3);

    @include bplte(sm)
    {
      width: auto;
      flex-grow: 1;
      margin: 0 $gutter;
    }
  }

  &-input
  {
    @include color(opp);
    @include color(trans, background-color);
    width: 100%;
    appearance: none;
    font-size: $gutter;
    padding: $gutter/2;
    text-align: center;
    border: 2px solid rgba(255, 255, 255, 0.8);

    &::placeholder
    {
      color: inherit;
      font-style: italic;
    }
  }

  &-searchButton
  {
    position: absolute;
    right: $gutter/4;
    top: $gutter/2;
    font-size: $gutter-mini*2;
    line-height: 1;
    opacity: 0.8;
  }

  &-headerRight
  {
    display: flex;
    align-items: center;
  }

  &-settingsButton
  {
    margin-left: $gutter;
  }
}
