.Main
{
  position: relative;
  height: 100vh;

  &-header
  {
    @include NoPointer;
    height: $main-header-height;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: $gutter/2 $gutter;
    background: rgb(0,0,0);
    background: linear-gradient(180deg, rgba(0,0,0,0.8) 0%, rgba(0,0,0,0) 100%);

    .LightMode &
    {
      background: rgb(255,255,255);
      background: linear-gradient(180deg, rgba(255,255,255,0.8) 0%, rgba(255,255,255,0) 100%);
    }
  }

  &-headerLeft,
  &-headerRight
  {
    height: 100%;
    display: flex;
    align-items: center;
  }

  &-signInButton
  {
    @include color(opp);
  }

  &-settingsButton
  {
    margin-left: $gutter;
  }

  &-splashWrap
  {
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &-splash
  {
    width: 30vw;

    @include bp(sm)
    {
      width: 40vw;
    }

    @include bplte(xs)
    {
      width: 60vw;
    }
  }

  &-prompt
  {
    position: absolute;
    z-index: 3;
    height: 100%;
    width: 100%;
  }

  &-promptContent
  {
    @include color(trans, background-color);
    @include color(opp);
    position: absolute;
    padding: $gutter;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: calc(100% - #{$gutter*2});

    @include bp(sm)
    {
      width: percentage(2/3);
    }

    @include bp(md)
    {
      width: 50%;
    }

    @include bpgte(lg)
    {
      width: percentage(1/3);
    }
  }

  &-promptMessage
  {
    font-size: $gutter-mini*2;
  }

  &-promptButtons
  {
    display: flex;
    justify-content: flex-end;
    margin-top: $gutter;
  }

  &-promptDeny
  {
    margin-right: $gutter-mini;
  }

  &-systemChoicesWrap
  {
    @include color(opp);
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
    width: 100%;
    z-index: 1;
  }

  &-systemChoices
  {
    @include color(trans, background-color);
    z-index: 1;
    max-height: 100%;
    margin: $gutter-mini;
    overflow: auto;
  }

  &-systemChoice
  {
    display: block;
    width: 100%;
    text-align: left;
    font-size: $gutter;
    font-size: $gutter-mini*2;
    padding: $gutter-mini;
    border: $border-thin-transparent;
    transition: border-color $transition-xfast;

    @include hoverActive
    {
      @include color(opp, border-color);
    }
  }

  &-newSystem
  {
    display: block;
    width: 100%;
    font-style: italic;
    text-align: left;
    padding: $gutter-mini;
  }

  &-titleWrap
  {
    @include NoPointer;
    @include color(opp);
    position: absolute;
    display: flex;
    justify-content: center;
    top: $gutter/2;
    z-index: 1;
    width: 100%;
    font-weight: bold;
    font-size: $gutter-mini*2;
  }

  &-initial,
  &-title
  {
    text-align: center;
    display: inline;
    max-width: 75%;
  }

  &-alert
  {
    @include color(trans, background-color);
    @include color(opp);
    position: absolute;
    width: 100%;
    z-index: 4;
    text-align: center;
    font-size: 36px;
    padding: $gutter;
    top: calc(50% - 68px); // font size + 2 * gutter
  }

  &-toast
  {
    @include color(nearer, background-color);
    @include color(opp);
    @include color(opp, border-color);
    position: absolute;
    width: auto;
    z-index: 4;
    text-align: center;
    font-size: 16px;
    padding: $gutter-mini;
    border-radius: 22px;
    border: $border-thin;
    top: $main-header-height + $gutter;
    left: 50%;
    transform: translateX(-50%);
  }
}
