.Result
{
  @include color(opp);
  @include color(opp, border-color);
  display: block;
  position: relative;
  border: $border-thin;
  height: 0;
  padding-top: 75%;
  text-align: left;

  &--ready
  {
    cursor: pointer;
  }

  &--feature
  {
    padding-top: 50vh;
  }

  &--feature &-infoWrap
  {
    @include container;
  }

  &--feature &-title
  {
    font-size: $gutter*2;
  }

  &--feature &-ownerStars
  {
    font-size: $gutter;
  }

  @include hoverActive
  {
    .Result-info
    {
      height: calc(100% - 50px);
    }

    .Result-title
    {
      text-decoration: underline;
    }
  }

  &-mapWrap
  {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
  }

  &-info
  {
    @include color(opp);
    position: absolute;
    height: 100%;
    width: 100%;
    bottom: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;

    transition: all $transition-fast;
    background: transparent;
    background: linear-gradient(0deg, rgba(0,0,0,0.8) 0%, rgba(0,0,0,0) 40%);

    .LightMode &
    {
      background: linear-gradient(0deg, rgba(255,255,255,0.8) 0%, rgba(255,255,255,0) 40%);
    }
  }

  &-infoWrap
  {
    padding: $gutter/2;
  }

  &-title
  {
    font-size: $gutter;
    font-weight: bold;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
  }

  &-details
  {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: $gutter-mini;
    font-style: italic;
  }

  &-owner--you
  {
    @include color(user);
    font-weight: bold;
  }

  &-starText
  {
    @include color(star);
  }
}
