.Settings
{
  position: fixed;
  min-width: 300px;
  left: 50%;
  top: 50%;
  z-index: 5;
  transform: translate(-50%, -50%);

  &-container
  {
    @include color(opp);
    @include color(nearer, background-color);
    @include color(opp, border-color);
    border: $border-thin;
  }

  &-close
  {
    @include CloseButton;
  }

  &-heading
  {
    @include color(nearer, background-color);
    font-size: $gutter*2;
    font-weight: bold;
    width: 100%;
    padding: $gutter $gutter $gutter/2;
    text-align: center;
  }

  &-content
  {
    @include color(near, background-color);
    width: 100%;
    padding: $gutter;
  }

  &-setting
  {
    &:not(:first-child)
    {
      margin-top: $gutter;
    }
  }

  &-settingTitle
  {
    margin-bottom: $gutter/4;
  }

  &-username
  {
    display: flex;
    align-items: center;
  }

  &-usernameInput
  {
    @include Focus-name;
    flex-grow: 1;
  }

  &-submitButton
  {
    height: 36px;
    width: 36px;
    padding: $gutter/2;
  }

  &-toggleButton
  {
    @include color(opp, border-color);
    display: flex;
    min-height: $gutter-mini*3;
    align-items: center;
  }

  &-toggler
  {
    @include color(opp, border-color);
    background-color: transparent;
    border: $border-default;
    position: relative;
    height: $gutter-mini*2;
    width: $gutter-mini*3;
    border-radius: $gutter-mini;
    margin-right: $gutter-mini;
  }

  &-toggleSlider
  {
    @include color(opp, border-color);
    border: $border-default;
    background-color: transparent;
    position: absolute;
    left: 2px;
    top: 2px;
    height: $gutter;
    width: $gutter;
    border-radius: $gutter/2;
    transition: left $transition-slow;

    .Settings-toggler--on &
    {
      @include color(opp, border-color);
      border: $border-default;
      left: calc(100% - #{$gutter} - 2px);
    }
  }

  &-signOut
  {
    font-style: italic;
  }
}
