.StarLink
{
  &-title
  {
    font-size: $gutter-mini*2;
    font-weight: bold;
  }

  &-ownerStars
  {
    font-size: $gutter;
    font-style: italic;
  }

  &-youText
  {
    color: $user-blue;
    font-weight: bold;
  }

  &-starText
  {
    color: $star-gold;
  }
}
