.StarAndCount
{
  position: relative;
  max-height: 100%;
  min-height: 100%;

  &--viewOnly
  {
    @include color(trans, background-color);
    position: absolute;
    left: 100%;
    top: 0;
    width: 36px + $gutter;
    padding-right: $gutter;
  }

  &--viewOnly &-star
  {
    font-size: 32px;
    width: 100%;
  }

  &--viewOnly &-count
  {
    top: $gutter*3;
    width: 100%;
    padding-right: $gutter;
    font-size: 14px;
  }

  &--controls
  {
    width: 27px;
  }

  &--controls &-star
  {
    font-size: 24px;
    width: 100%;
    position: absolute;
    top: 0;
  }

  &--controls &-count
  {
    top: 24px;
    width: 100%;
    font-size: 12px;
  }

  &-star
  {
    color: $star-gold;
    position: relative;

    i
    {
      position: absolute;
      top: 0;
      left: 0;
      transition: opacity $transition-fast;
    }

    &--starred
    {
      .fas
      {
        opacity: 1;
      }

      .far
      {
        opacity: 0;
      }

      @include hoverActive
      {
        .fas
        {
          opacity: 0;
        }

        .far
        {
          opacity: 1;
        }
      }
    }

    &--unstarred
    {
      .fas
      {
        opacity: 0;
      }

      .far
      {
        opacity: 1;
      }

      @include hoverActive
      {
        .fas
        {
          opacity: 1;
        }

        .far
        {
          opacity: 0;
        }
      }
    }
  }

  &-count
  {
    @include color(opp);
    position: absolute;
    text-align: center;
    font-weight: bold;
    transition: color $transition-fast;
  }
}
