.ViewOnly
{
  @include color(opp);
  pointer-events: none;
  position: fixed;
  z-index: 1;
  bottom: $gutter;
  width: 100%;

  @include bpgte(sm)
  {
    display: flex;
    justify-content: center;
  }

  &-wrap
  {
    @include color(trans, background-color);
    pointer-events: all;
    padding: $gutter $gutter-mini $gutter $gutter;
    text-align: center;
    position: relative;

    @include bpgte(sm)
    {
      max-width: calc(100% - #{$gutter*3 + $viewonly-star-width});
    }

    @include bplte(xs)
    {
      width: calc(100% - #{$gutter*3 + $viewonly-star-width});
      margin-left: 16px;
    }
  }

  &-top
  {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &-title
  {
    font-size: 28px;

    @include bplte(xs)
    {
      font-size: 22px;
    }
  }

  &-sysTitle
  {
    font-weight: bold;
  }

  &-start
  {
    font-style: italic;
    margin-top: $gutter-mini;
  }
}
