.ViewOnly
{
  @include color(opp);
  pointer-events: none;
  position: absolute;
  z-index: 1;
  bottom: $gutter;
  display: flex;
  justify-content: center;
  width: 100%;

  &-wrap
  {
    @include color(trans, background-color);
    pointer-events: all;
    padding: $gutter $gutter-mini $gutter $gutter;
    text-align: center;
    position: relative;

    @include bpgte(sm)
    {
      max-width: calc(100% - #{$gutter*2});
    }

    @include bplte(xs)
    {
      width: calc(100% - #{$gutter*2});
    }
  }

  &-top
  {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &-title
  {
    font-size: 28px;

    @include bplte(xs)
    {
      font-size: 22px;
    }
  }

  &-sysTitle
  {
    font-weight: bold;
  }

  &-start
  {
    font-style: italic;
    margin-top: $gutter-mini;
  }

  &-starWrap
  {
    @include color(trans, background-color);
    position: absolute;
    height: 100%;
    left: 100%;
    top: 0;
    padding-right: $gutter;
  }

  &-star
  {
    color: $star-gold;
    font-size: 32px;
    min-width: 36px;
    margin-top: $gutter;
    position: relative;

    i
    {
      position: absolute;
      top: 0;
      left: 0;
      transition: opacity $transition-fast;
    }

    &--starred
    {
      .fas
      {
        opacity: 1;
      }

      .far
      {
        opacity: 0;
      }

      @include hoverActive
      {
        .fas
        {
          opacity: 0;
        }

        .far
        {
          opacity: 1;
        }
      }
    }

    &--unstarred
    {
      .fas
      {
        opacity: 0;
      }

      .far
      {
        opacity: 1;
      }

      @include hoverActive
      {
        .fas
        {
          opacity: 1;
        }

        .far
        {
          opacity: 0;
        }
      }
    }
  }

  &-starCount
  {
    @include color(opp);
    position: absolute;
    top: $gutter*3;
    width: 36px;
    text-align: center;
    font-size: 14px;
    font-weight: bold;
    transition: color $transition-fast;
  }
}
