.Controls
{
  position: absolute;
  z-index: 1;
  color: $white;
  background-color: $black-transparent;
  top: $gutter;
  left: $gutter;
  padding: $gutter 0;

  @include bplte(xs)
  {
    width: calc(100% - #{$gutter*2});
  }

  &-titleWrap
  {
    width: 100%;
    padding: 0 $gutter;
  }

  &-title
  {
    @include Focus-name;
    width: 100%;
  }

  &-main
  {
    display: flex;
    margin-top: $gutter;
    padding: 0 $gutter;
    max-height: calc(50vh - #{$gutter*6});
    overflow: auto;
  }

  &-left
  {
    margin-right: $gutter;
  }

  &-shareableWrap
  {
    margin-top: $gutter/2;
  }

  &-settings,
  &-save,
  &-undo,
  &-back
  {
    display: block;
    width: $gutter*3;
    height: $gutter*3;
    border: $border-thin;
    transition: background-color $transition-slow, font-size $transition-slow;
    font-size: 24px;

    @include bplte(xs)
    {
      font-size: 32px;
    }

    &:hover
    {
      font-size: 32px;
      background-color: $white;
      color: $gray-dark;
    }

    &:not(:first-child)
    {
      margin-top: $gutter/2;
    }

    i
    {
      margin: auto;
    }
  }

  &-right
  {
    height: 100%;
    display: flex;
    flex-direction: column;
  }

  &-userRow
  {
    display: flex;
  }

  &-name
  {
    padding-right: $gutter;
    border-right: $border-default;
    margin-right: $gutter;
  }

  &-designation
  {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    opacity: 0.75;
  }

  &-logo
  {
    height: $gutter-mini*4;
  }

  &-copyright
  {
    font-size: $gutter-mini;
  }

  &-lineWrap
  {
    @include SlideHover;
    display: flex;
    align-items: center;

    @include bplte(xs)
    {
      padding: $gutter/2 0;
    }

    @include bpgte(sm)
    {
      &:not(:first-child)
      {
        margin-top: $gutter-mini/2;
      }
    }
  }

  &-linePrev
  {
    width: $gutter;
    height: $gutter;
    margin-right: $gutter/2;
    border: $border-default;
  }

  &-newLineWrap
  {
    margin-top: $gutter/2;
  }

  &-shareable,
  &-newLine
  {
    font-style: italic;
  }
}
