.Controls
{
  position: absolute;
  z-index: 1;
  color: $white;
  background-color: $black-transparent;
  top: $gutter;
  left: $gutter;
  padding: $gutter 0;

  @include bplte(xs)
  {
    width: calc(100% - #{$gutter*2});
  }

  &--settings &-exCol
  {
    display: none;
  }

  &-titleWrap
  {
    width: 100%;
    padding: 0 $gutter;
  }

  &-title
  {
    @include Focus-name;
    width: 100%;
  }

  &-main
  {
    display: flex;
    margin-top: $gutter;
    padding: 0 $gutter;

    @include bplte(xs)
    {
      flex-direction: column;
    }
  }

  &-left
  {
    margin-right: $gutter;

    @include bplte(xs)
    {
      margin-right: 0;
      display: flex;
    }
  }

  &-shareWrap
  {
    margin-top: $gutter/2;
  }

  &-share
  {
    font-style: italic;
    display: flex;
    align-items: center;

    i
    {
      font-size: 24px;
      margin-right: $gutter-mini/2;
    }

    @include hoverActive
    {
      .Controls-shareText
      {
        text-decoration: underline;
      }
    }
  }

  &-settings,
  &-save,
  &-undo,
  &-back
  {
    display: block;
    width: $gutter*3;
    height: $gutter*3;
    border: $border-thin;
    transition: background-color $transition-slow, font-size $transition-slow;
    font-size: 24px;

    @include hoverActive
    {
      font-size: 32px;
      background-color: $white;
      color: $gray-dark;
    }

    &:not(:first-child)
    {
      margin-top: $gutter/2;

      @include bplte(xs)
      {
        margin-top: 0;
        margin-left: $gutter/2;
      }
    }

    i
    {
      margin: auto;
    }
  }

  &-exCol
  {
    flex-grow: 1;
    display: flex;
    justify-content: flex-end;
    align-items: center;

    @include bpgte(sm)
    {
      display: none;
    }

    &--expanded i
    {
      transform: rotate(180deg);
    }

    i
    {
      transition: transform $transition-slow;
    }
  }

  &-exColText
  {
    padding: 0 $gutter/2;
  }

  &-right
  {
    display: flex;
    flex-direction: column;
    overflow-y: auto;

    @include bpgte(sm)
    {
      height: 100%;
      max-height: calc(100vh - #{$gutter*7});
    }

    @include bplte(xs)
    {
      margin-top: $gutter-mini;
      max-height: calc(50vh - #{$gutter*10});
      flex-grow: 1;
      transition: all $transition-slow;

      &--collapsed
      {
        margin-top: 0;
        max-height: 0;
        overflow: hidden;
      }
    }
  }

  &-userRow
  {
    display: flex;
  }

  &-name
  {
    padding-right: $gutter;
    border-right: $border-default;
    margin-right: $gutter;
  }

  &-otherSystems
  {
    margin-top: $gutter-mini;
    border-top: $border-thin;
    padding-top: $gutter-mini;
  }

  &-otherSystem
  {
    display: block;
    padding: $gutter-mini/2 0 0;
    font-style: italic;
  }

  &-designation
  {
    margin-top: $gutter-mini;
    border-top: $border-thin;
    padding-top: $gutter-mini;
    flex-grow: 1;
    text-align: center;
    opacity: 0.85;
  }

  &-logo
  {
    height: $gutter-mini*4;
  }

  &-copyright
  {
    font-size: $gutter-mini;
    margin-top: $gutter/2;
  }

  &-privacy
  {
    font-size: $gutter-mini;
  }

  &-lineWrap
  {
    @include SlideHover;
    display: flex;
    align-items: center;

    @include bplte(xs)
    {
      padding: $gutter/2 0;
    }

    @include bpgte(sm)
    {
      &:not(:first-child)
      {
        margin-top: $gutter-mini/2;
      }
    }
  }

  &-linePrev
  {
    width: $gutter;
    height: $gutter;
    margin-right: $gutter/2;
    border: $border-default;
  }

  &-newLineWrap
  {
    margin-top: $gutter/2;
  }

  &-newLine
  {
    font-style: italic;
  }
}
