.Line
{
  &-title
  {
    display: flex;
    align-items: center;
  }

  &-namePrev
  {
    width: $gutter-mini*2;
    height: $gutter-mini*2;
    margin-right: $gutter-mini;
    border: $border-default;
  }

  &-name
  {
    @include Focus-name;
    flex-grow: 1;
  }

  &-stations
  {
    list-style: disc;
    list-style-position: inside;
  }

  &-colorsWrap
  {
    display: flex;
    flex-wrap: wrap;
  }

  &-colorsText
  {
    width: 100%;
  }

  &-color
  {
    width: 18%;
    margin-right: 2%;
    margin-top: 2%;
    padding-bottom: 9%;
    padding-top: 9%;
    border: $border-default;
  }

  &-colorsCancel
  {
    width: 100%;
    font-style: italic;
    text-align: left;
  }
}
