.Line
{
  @include Focus;

  &-title
  {
    display: flex;
    align-items: center;
  }

  &-namePrev
  {
    width: $gutter;
    height: $gutter;
    margin-right: $gutter/2;
  }

  &-name
  {
    background-color: transparent;
    border-bottom: 1px solid $white;
  }

  &-stations
  {
    list-style: disc;
    list-style-position: inside;
  }
}
