.Main
{
  position: relative;
  height: 100vh;

  &-systemChoicesWrap
  {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
    width: 100%;
    z-index: 1;
    color: $white;
  }

  &-systemChoices
  {
    z-index: 1;
    background-color: $black-transparent;
  }

  &-systemChoice
  {
    display: block;
    width: 100%;
    text-align: left;
    font-size: $gutter;
    font-size: $gutter-mini*2;
    padding: $gutter-mini;
    border: $border-thin-transparent;
    transition: border-color $transition-xfast;

    &:hover
    {
      border-color: $white;
    }
  }

  &-newSystem
  {
    display: block;
    width: 100%;
    font-style: italic;
    text-align: left;
    padding: $gutter-mini;
  }

  &-titleWrap
  {
    @include NoPointer;
    position: absolute;
    display: flex;
    justify-content: center;
    top: $gutter/2;
    z-index: 1;
    width: 100%;
    color: $white;
    font-weight: bold;
    font-size: $gutter-mini*2;
  }

  &-initial,
  &-title
  {
    text-align: center;
    display: inline;
    max-width: 75%;
  }
}
