.Main
{
  position: relative;
  height: 100vh;

  &-splashWrap
  {
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &-splash
  {
    width: 30vw;

    @include bp(sm)
    {
      width: 40vw;
    }

    @include bplte(xs)
    {
      width: 60vw;
    }
  }

  &-viewOnly
  {
    pointer-events: none;
    position: absolute;
    z-index: 1;
    bottom: $gutter;
    color: $white;
    display: flex;
    justify-content: center;
    width: 100%;
  }

  &-viewOnlyWrap
  {
    pointer-events: all;
    background-color: $black-transparent;
    padding: $gutter;
    text-align: center;

    @include bpgte(sm)
    {
      max-width: calc(100% - #{$gutter*2});
    }

    @include bplte(xs)
    {
      width: calc(100% - #{$gutter*2});
    }
  }

  &-viewTitle
  {
    font-size: 28px;

    @include bplte(xs)
    {
      font-size: 22px;
    }
  }

  &-viewTitleBold
  {
    font-weight: bold;
  }

  &-viewStart
  {
    font-style: italic;
    margin-top: $gutter-mini;
  }

  &-prompt
  {
    position: absolute;
    z-index: 3;
    height: 100%;
    width: 100%;
  }

  &-promptContent
  {
    position: absolute;
    background-color: $black-transparent;
    padding: $gutter;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    color: $white;
    width: calc(100% - #{$gutter*2});

    @include bp(sm)
    {
      width: percentage(2/3);
    }

    @include bp(md)
    {
      width: 50%;
    }

    @include bpgte(lg)
    {
      width: percentage(1/3);
    }
  }

  &-promptMessage
  {
    font-size: $gutter-mini*2;
  }

  &-promptButtons
  {
    display: flex;
    justify-content: flex-end;
    margin-top: $gutter;
  }

  &-promptDeny
  {
    margin-right: $gutter-mini;
    padding: $gutter/2;
    border: $border-thin;
    background-color: transparent;
    color: $white;
    transition: background-color $transition-fast, color $transition-fast;

    @include hoverActive
    {
      background-color: $white;
      color: $gray-dark;
    }
  }

  &-promptConfirm
  {
    padding: $gutter/2;
    border: $border-thin;
    background-color: $white;
    color: $gray-dark;
    transition: background-color $transition-fast, color $transition-fast;

    @include hoverActive
    {
      background-color: transparent;
      color: $white;
    }
  }

  &-systemChoicesWrap
  {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
    width: 100%;
    z-index: 1;
    color: $white;
  }

  &-systemChoices
  {
    z-index: 1;
    background-color: $black-transparent;
  }

  &-systemChoice
  {
    display: block;
    width: 100%;
    text-align: left;
    font-size: $gutter;
    font-size: $gutter-mini*2;
    padding: $gutter-mini;
    border: $border-thin-transparent;
    transition: border-color $transition-xfast;

    @include hoverActive
    {
      border-color: $white;
    }
  }

  &-newSystem
  {
    display: block;
    width: 100%;
    font-style: italic;
    text-align: left;
    padding: $gutter-mini;
  }

  &-titleWrap
  {
    @include NoPointer;
    position: absolute;
    display: flex;
    justify-content: center;
    top: $gutter/2;
    z-index: 1;
    width: 100%;
    color: $white;
    font-weight: bold;
    font-size: $gutter-mini*2;
  }

  &-initial,
  &-title
  {
    text-align: center;
    display: inline;
    max-width: 75%;
  }

  &-alert
  {
    position: absolute;
    width: 100%;
    z-index: 4;
    text-align: center;
    color: $white;
    background-color: $black-transparent;
    font-size: 36px;
    padding: $gutter;
    top: calc(50% - 68px); // font size + 2 * gutter
  }
}
