.Map
{
  position: relative;
  height: 100vh;

  .mapboxgl-canvas-container,
  .mapboxgl-canvas
  {
    height: 100%;
    width: 100%;
    cursor: pointer;
  }

  &-station
  {
    height: $gutter;
    width: $gutter;
    cursor: pointer;
  }
}
