.Map
{
  position: relative;
  height: 100vh;

  .mapboxgl-canvas-container,
  .mapboxgl-canvas
  {
    height: 100%;
    width: 100%;
    cursor: pointer;
  }

  &-station
  {
    height: $gutter;
    width: $gutter;
    cursor: pointer;

    &:focus
    {
      outline: 0;
    }

    &--focused
    {
      outline: 0;

      svg
      {
        transform: scale(1.5);
      }
    }

    svg
    {
      transition: transform $transition-fast;
    }
  }
}
