.Shortcut
{
  @include color(trans, background-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: $gutter/4 $gutter/2;

  &--gone
  {
    display: none;
  }

  &-popup
  {
    .mapboxgl-popup-tip
    {
      display: none;
    }

    .mapboxgl-popup-content
    {
      padding: 0;
      background: transparent;
      border-radius: 0;
      box-shadow: none;
    }
  }

  &-lineAdd
  {
    @include color(opp, border-color);
    border: $border-default;
    width: $gutter-mini*2;
    height: $gutter-mini*2;
    margin: $gutter/4 0;
  }

  &-delete
  {
    @include color(opp);
    @include color(opp, border-color);
    border: $border-default;
    width: $gutter-mini*2;
    height: $gutter-mini*2;
    margin: $gutter/4 0;
    font-size: 16px;

    i
    {
      //
    }
  }
}
