.Station
{
  &-close
  {
    @include CloseButton;
  }

  &-exCol
  {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-top: $gutter;
    padding: 0 $gutter;

    @include bpgte(sm)
    {
      display: none;
    }

    &--expanded i
    {
      transform: rotate(180deg);
    }

    i
    {
      transition: transform $transition-slow;
    }
  }

  &-exColText
  {
    padding: 0 $gutter/2;
  }

  &-nameWrap
  {
    padding: 0 $gutter;
  }

  &-name
  {
    @include Focus-name;
    width: 100%;
  }

  &-content
  {
    margin-top: $gutter;
    padding: 0 $gutter;
    overflow: auto;

    @include bplte(xs)
    {
      max-height: calc(50vh - #{$gutter-mini*12});
      transition: all $transition-slow;

      &--collapsed
      {
        margin-top: 0;
        max-height: 0;
        overflow: hidden;
      }
    }
  }

  &-noLine
  {
    font-style: italic;
  }

  &-lines
  {
    display: flex;
  }

  &-info
  {
    margin-top: $gutter-mini;
  }

  &-fact
  {
    margin-top: $gutter-mini/2;

    i
    {
      margin-left: $gutter/2;
    }
  }

  &-addButtons
  {
    margin-top: $gutter/4;
  }

  &-addButtonWrap
  {
    @include SlideHover;
    margin-top: $gutter/2;
    display: flex;
    align-items: center;
  }

  &-lineWrap
  {
    margin-right: $gutter-mini;
  }

  &-linePrev
  {
    width: $gutter-mini*2;
    height: $gutter-mini*2;
    border: $border-default;
  }

  &-addButtonPrev
  {
    width: $gutter;
    height: $gutter;
    margin-right: $gutter/2;
    border: $border-default;
  }

  &-delete
  {
    font-style: italic;
    margin-top: $gutter-mini;
  }
}
