.StarLink
{
  &-title
  {
    font-size: $gutter-mini*2;
    font-weight: 700;
  }

  &-ownerStars
  {
    font-size: $gutter;
    font-style: italic;
  }

  &-youText
  {
    @include color(user);
    font-weight: 700;
  }

  &-starText
  {
    @include color(star);
  }
}
