.Auth
{
  &-container
  {
    width: 600px;

    @include bp(sm)
    {
      width: 500px;
    }

    @include bplte(xs)
    {
      width: 100%;
    }
  }

  &-content
  {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &-logoWrap
  {
    display: flex;
    justify-content: center;
  }

  &-logo
  {
    height: $gutter*3;

    @include bplte(xs)
    {
      height: $gutter*2;
    }
  }

  &-headingText
  {
    font-size: 32px;
    font-weight: 700;

    @include bplte(xs)
    {
      font-size: 24px;
    }
  }

  &-description
  {
    max-width: 80%;
    text-align: center;
    font-weight: 400;
    margin-top: $gutter-mini/2;
    padding-top: $gutter-mini/2;
    white-space: pre-wrap;
  }

  &-signInOptions
  {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-top: $gutter;
  }

  &-signInOption
  {
    display: flex;
    align-items: center;
    padding: $gutter/2 $gutter;
    width: 220px;
    min-height: 40px;
    font-size: 14px;
    border-radius: 2px;

    &:not(:first-child)
    {
      margin-top: $gutter-mini;
    }

    &--email
    {
      background-color: #db4437;
      color: #ffffff;
    }

    &--google
    {
      background-color: #ffffff;
      color: #757575;
    }
  }

  &-optionIcon
  {
    display: flex;
    height: 18px;
    width: 18px;
    margin-right: $gutter;
  }

  &-guestWrap
  {
    margin-top: $gutter/2;
    display: flex;
    justify-content: center;
  }

  &-guestButton
  {
    font-size: 14px;
    font-style: italic;
    padding: $gutter/2 $gutter;
  }

  &-emailFormWrapper
  {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &-emailForm
  {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 300px;
  }

  &-input
  {
    @include Focus-name;
    width: 100%;
    margin-top: $gutter-mini;

    &--hidden
    {
      display: none;
    }

    &--password
    {
      padding-right: $gutter*2;
    }

    &[data-valid=false]
    {
      @include color(alert, border-color);
    }
  }

  &-passwordWrap
  {
    position: relative;
  }

  &-toggleShowPassword
  {
    position: absolute;
    right: 2px;
    bottom: 9px;

    i
    {
      margin-right: 2px;
      font-size: 16px;
    }

    &[data-password-visible=true] i
    {
      margin-right: 3px;
    }
  }

  &-errorIcon
  {
    position: absolute;
    left: 100%;
    bottom: 10px;
    margin-left: $gutter/4;
    font-size: 16px;

    &--red
    {
      @include color(alert, color);
    }
  }

  &-submitButton
  {
    margin-top: $gutter-mini;
  }

  &-goBack
  {
    font-style: italic;
    margin-top: $gutter-mini;
  }
}
