.Comments
{
  &-heading
  {
    font-size: 18px;
    font-weight: 700;
  }

  &-new
  {
    width: 100%;
    display: flex;
    align-items: flex-start;
    margin-top: $gutter-mini;

    @include bplte(xs)
    {
      flex-wrap: wrap;
      justify-content: flex-end;
    }
  }

  &-textarea
  {
    @include color(opp);
    @include color(opp, border-bottom-color);
    font-family: inherit;
    font-size: 16px;
    overflow: auto;
    outline: none;
    box-shadow: none;
    resize: none;
    background-color: transparent;
    flex-grow: 1;
    padding: $gutter-mini/2 $gutter/4;
    border: $border-thin-transparent;
    transition: $transition-fast border-color;

    @include bplte(xs)
    {
      flex-basis: 100%;
    }

    &:focus
    {
      @include color(opp, border-color);
    }
  }

  &-submit
  {
    border-radius: 100vh;
    margin-left: $gutter;

    @include bplte(xs)
    {
      margin-left: 0;
      margin-top: $gutter/2;
    }

    &:disabled
    {
      pointer-events: none;
      opacity: 0.5;
    }
  }

  &-none
  {
    margin-top: $gutter;
    font-style: italic;
  }

  &-item
  {
    margin-top: $gutter-mini*2;
  }
}
