.Controls
{
  @include color(trans, background-color);
  @include color(opp);
  position: absolute;
  z-index: 1;
  top: $gutter;
  left: $gutter;
  padding: $gutter 0;

  @include bplte(sm)
  {
    width: calc(100% - #{$gutter*2});
  }

  &--settings &-exCol
  {
    display: none;
  }

  &-titleWrap
  {
    display: flex;
    width: 100%;
    padding: 0 $gutter;
  }

  &-title
  {
    @include Focus-name;
    flex-grow: 1;
  }

  &-main
  {
    display: flex;
    margin-top: $gutter;
    padding: 0 $gutter;

    @include bplte(sm)
    {
      flex-direction: column;
    }
  }

  &-left
  {
    margin-right: $gutter;

    @include bplte(sm)
    {
      margin-right: 0;
      display: flex;
    }
  }

  &-save,
  &-undo,
  &-compress
  {
    @include color(opp, border-color);
    border: $border-thin;
    display: block;
    width: $gutter*3;
    height: $gutter*3;
    transition: background-color $transition-slow, font-size $transition-slow;
    font-size: 24px;

    @include hoverActive
    {
      @include color(opp, background-color);
      @include color(near);
      font-size: 32px;
    }

    &:not(:first-child)
    {
      margin-top: $gutter/2;

      @include bplte(sm)
      {
        margin-top: 0;
        margin-left: $gutter/2;
      }
    }

    i
    {
      margin: auto;
    }
  }

  &-exCol
  {
    flex-grow: 1;
    display: flex;
    justify-content: flex-end;
    align-items: center;

    @include bpgte(md)
    {
      display: none;
    }

    &--expanded i
    {
      transform: rotate(180deg);
    }

    i
    {
      transition: transform $transition-slow;
    }
  }

  &-exColText
  {
    padding: 0 $gutter/2;
  }

  &-right
  {
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    width: 100%;

    @include bpgte(md)
    {
      height: 100%;
      max-height: calc(100vh - #{$main-header-height + $gutter*4 + 38px});
      max-width: 330px;
    }

    @include bplte(sm)
    {
      margin-top: $gutter-mini;
      max-height: calc(50vh - #{$gutter*8 + 46px});
      flex-grow: 1;
      transition: all $transition-slow;

      &--collapsed
      {
        margin-top: 0;
        max-height: 0;
        overflow: hidden;
      }

      &--expanded
      {
        .isIOS &
        {
          max-height: calc(50vh - #{$gutter*15});
        }
      }
    }
  }

  &-lineWrap
  {
    @include SlideHover;
    display: flex;
    align-items: center;
    width: 100%;

    @include bplte(sm)
    {
      padding: $gutter/2 0;
    }

    @include bpgte(md)
    {
      &:not(:first-child)
      {
        margin-top: $gutter-mini/2;
      }
    }
  }

  &-linePrev
  {
    @include color(opp, border-color);
    border: $border-default;
    width: $gutter;
    height: $gutter;
    margin-right: $gutter/2;
    flex-shrink: 0;
  }

  &-line
  {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  &-newLineWrap
  {
    margin-top: $gutter/2;
  }

  &-newLine
  {
    font-style: italic;
  }
}
