.Discover
{
  position: relative;
  flex-grow: 1;
  width: 100%;
  padding: 0 $gutter/4;

  &-feature
  {
    width: 100%;

    &--main
    {
      @include color(nearer, background-color);
      padding: 0 $gutter-mini $gutter-mini;
    }

    &--sub,
    &--recent
    {
      padding: 0 $gutter/2;

      @include bplte(xs)
      {
        padding: $gutter/2;
      }
    }
  }

  &-wrapper
  {
    width: 100%;
    padding-bottom: $gutter;
  }

  &-noUserContent
  {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: $gutter*2;
    padding-bottom: $gutter*2;
  }

  &-noUserDescription
  {
    text-align: center;
    font-size: $gutter-mini*2;

    @include bpgte(md)
    {
      max-width: 50%;
    }
  }

  &-noUserLinks
  {
    display: flex;
    margin-top: $gutter*2;

    @include bplte(xs)
    {
      flex-direction: column;
    }
  }

  &-start,
  &-mission
  {
    min-width: 200px;
  }

  &-mission
  {
    margin-left: $gutter;

    @include bplte(xs)
    {
      margin-left: 0;
      margin-top: $gutter;
    }
  }

  &-col
  {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &-moreFeatures
  {
    @include color(nearer, background-color);
    position: relative;
    padding: $gutter-mini*2 $gutter/4;

    &:not(:first-child)::before
    {
      @include color(near, background-color);
      content: '';
      display: block;
      position: absolute;
      left: $gutter-mini;
      top: 0;
      height: 4px;
      width: calc(100% - #{$gutter-mini*2});
    }
  }

  &-featureList
  {
    display: flex;
    width: 100%;

    @include bplte(xs)
    {
      flex-direction: column;
    }
  }

  &-moreFeaturesHeadingRow
  {
    margin-bottom: $gutter-mini;
    position: relative;
    padding: 0 $gutter/2;

    @include bplte(xs)
    {
      margin-bottom: $gutter/2;
    }
  }

  &-moreFeaturesHeading
  {
    font-size: $gutter-mini*2;
    font-weight: 700;
    text-align: left;
    flex-shrink: 0;
  }
}
