.Discover
{
  position: relative;
  flex-grow: 1;
  width: 100%;
  padding: 0 $gutter/4;

  @include bpgte(md)
  {
    padding: 0 $gutter-mini;
  }

  &-feature
  {
    width: 100%;

    &--main,
    &--mainPlaceholder
    {
      @include color(nearer, background-color);
      padding: 0 $gutter-mini $gutter-mini;
    }

    &--sub,
    &--star,
    &--nearby,
    &--recent,
    &--placeholder
    {
      padding: $gutter/2;
    }
  }

  &-wrapper
  {
    width: 100%;
    padding-bottom: $gutter;
  }

  &-noUserContent
  {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: $gutter*2 $gutter-mini;
  }

  &-noUserDescription
  {
    text-align: center;
    font-size: $gutter-mini*2;

    @include bpgte(md)
    {
      max-width: 75%;
    }
  }

  &-noUserLinks
  {
    display: flex;
    margin-top: $gutter*2;

    @include bplte(xs)
    {
      flex-direction: column;
    }
  }

  &-start,
  &-mission
  {
    min-width: 200px;
  }

  &-mission
  {
    margin-left: $gutter;

    @include bplte(xs)
    {
      margin-left: 0;
      margin-top: $gutter;
    }
  }

  &-col
  {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;

    &--feature,
    &--featurePlaceholder
    {
      @include bpgte(sm)
      {
        flex-basis: percentage(1/3);
        flex-grow: 0;
      }
    }
  }

  &-moreFeatures
  {
    @include color(nearer, background-color);
    position: relative;
    padding: $gutter-mini*2 $gutter/4 $gutter;

    &:not(:first-child)::before
    {
      @include color(near, background-color);
      content: '';
      display: block;
      position: absolute;
      left: $gutter-mini;
      top: 0;
      height: 4px;
      width: calc(100% - #{$gutter-mini*2});
    }
  }

  &-moreFeatures--starLoaded &-col--featurePlaceholder,
  &-moreFeatures--nearbyLoaded &-col--featurePlaceholder
  {
    @include bplte(xs)
    {
      display: none;
    }

    .Discover-resultPlaceholder
    {
      @include bpgte(sm)
      {
        background-color: transparent;
      }
    }
  }

  &-featureList
  {
    display: flex;
    width: 100%;

    @include bpgte(sm)
    {
      flex-wrap: wrap;
    }

    @include bplte(xs)
    {
      flex-direction: column;
    }
  }

  &-moreFeaturesHeadingRow
  {
    margin-bottom: $gutter/4;
    position: relative;
    padding: 0 $gutter/2;

    @include bplte(xs)
    {
      margin-bottom: $gutter/2;
    }
  }

  &-moreFeaturesHeading
  {
    font-size: $gutter-mini*2;
    font-weight: 700;
    text-align: left;
    flex-shrink: 0;
  }

  &-mainPlaceholder,
  &-resultPlaceholder
  {
    @include color(opp);
    @include color(near, background-color);
    display: block;
    position: relative;
    border: $border-thin transparent;
    border-radius: $gutter-mini;
    overflow: hidden;
    text-align: left;
  }

  &-mainPlaceholder
  {
    height: 0;
    padding-bottom: percentage(6/16); // match result aspect ratio
  }

  &-resultPlaceholder
  {
    height: 0;
    padding-bottom: percentage(9/16); // match result aspect ratio
  }

  &-seeMoreRecent
  {
    display: flex;
    align-items: center;
    padding: $gutter/2;
    margin-left: auto;
    margin-right: auto;
    opacity: 1;
    transition: opacity $transition-fast;

    i
    {
      font-size: 24px;
      margin-right: $gutter-mini/2;
    }

    @include hoverActive
    {
      opacity: 0.75;

      .Search-moreText
      {
        text-decoration: underline;
      }
    }
  }
}
