.Drawer
{
  @include color(near, background-color);
  @include color(opp);
  height: calc(100vh - #{$header-height});
  width: $drawer-width;
  position: fixed;
  top: $header-height;
  left: 0;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  overflow-x: hidden;
  padding-top: $gutter-mini;
  padding-right: $gutter-mini;
  padding-bottom: $gutter-mini + $footer-height;
  padding-left: $gutter-mini;
  font-size: 16px;
  z-index: 2;

  @include bplte(sm)
  {
    padding-top: $gutter/4;
    transition: $transition-slow width;
  }

  @include bplte(xs)
  {
    padding-bottom: $gutter-mini + $footer-mobile-height;
  }

  &--closed
  {
    width: $drawer-closed-width;
  }

  &-section
  {
    width: 100%;

    &--ownSystems
    {
      @include color(mid, border-color);
      border-top: $border-thin;
      margin-top: $gutter;
      padding-top: $gutter;
    }
  }

  &-sectionHeading
  {
    min-width: $drawer-width - $gutter-mini*2;
    font-size: 20px;
    font-weight: 700;
    padding: 0 $gutter-mini;
  }

  &-link
  {
    width: 100%;
    height: 44px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: $gutter-mini;
    border-radius: $gutter-mini;
    transition: $transition-fast background-color;

    @include hoverActive
    {
      @include color(nearer, background-color);
    }

    &--current
    {
      @include color(nearer, background-color);
    }

    &:not(:first-child)
    {
      margin-top: $gutter/2;
    }

    i
    {
      width: 21px;
      min-width: 21px;
      font-size: 20px;
      display: flex;
      justify-content: center;
    
      &.fa-house
      {
        // house is significantly wider
        font-size: 18px;
      }
    }
  }

  &-linkText
  {
    margin-left: $gutter;
    white-space: nowrap;
    overflow: hidden;
  }

  &-ownSystems
  {
    display: flex;
    flex-direction: column;
    margin-top: $gutter/2;
  }

  &-ownSystem
  {
    min-width: $drawer-width - $gutter-mini*2;
    padding: $gutter-mini;
    border-radius: $gutter-mini;
    display: flex;
    align-items: center;

    @include hoverActive
    {
      @include color(nearer, background-color);
    }

    &:not(:first-child)
    {
      margin-top: $gutter/4;
    }

    i
    {
      margin-left: $gutter-mini;
    }
  }

  &-noSystems
  {
    font-style: italic;
    padding: $gutter-mini;
  }
}
