.Footer
{
  @include color(opp);
  @include color(nearer, background-color);
  width: 100%;
  z-index: 2;
  padding: $gutter/2 $gutter;

  @include bpgte(md)
  {
    padding: $gutter/2 $gutter-mini*2;
  }

  &-container
  {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &-left
  {
    display: flex;
    align-items: center;
  }

  &-missionButton
  {
    margin-left: $gutter;
  }

  &-designation
  {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &-desigLogo
  {
    height: $gutter-mini*2;
  }

  &-copyright
  {
    font-size: $gutter-mini;
    margin-top: $gutter/4;
    white-space: nowrap;
    text-align: center;

    &--desktop
    {
      @include bplte(xs)
      {
        display: none;
      }
    }

    &--mobile
    {
      @include bpgte(sm)
      {
        display: none;
      }
    }
  }

  &-links
  {
    padding-left: $gutter;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: flex-end;

    @include bplte(xs)
    {
      flex-direction: column;
      align-items: flex-end;
    }
  }

  &-link
  {
    font-size: $gutter-mini;
    white-space: nowrap;

    &:not(:first-child)
    {
      @include bpgte(sm)
      {
        margin-left: $gutter/2;
      }

      @include bplte(xs)
      {
        margin-top: $gutter-mini/2;
      }
    }
  }
}
