.Header
{
  height: $header-height;
  width: 100%;
  position: relative;
  top: 0;
  left: 0;
  z-index: 4;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: $gutter/2 $gutter;

  &-left,
  &-center,
  &-right
  {
    height: 100%;
    display: flex;
    align-items: center;
  }

  &-left
  {
    flex-basis: 10%;
    justify-content: flex-start;
  }

  &-right
  {
    flex-basis: 10%;
    justify-content: flex-end;

    @include bplte(xs)
    {
      flex-basis: 5%;
    }

    &--loggedIn
    {
      @include bplte(xs)
      {
        flex-basis: 15%;
      }
    }
  }

  &-center
  {
    flex-basis: percentage(1/3);

    @include bplte(sm)
    {
      flex-basis: 50%;
    }

    @include bplte(xs)
    {
      flex-basis: 70%;
    }
  }

  &-logoWrap
  {
    flex-shrink: 0;
    display: flex;

    @include bpgte(sm)
    {
      flex: 1;
    }
  }

  &-logoLink
  {
    display: flex;
    align-items: center;
  }

  &-logo
  {
    height: 38px;
    min-width: 56px;
  }

  &-backWrap
  {
    flex-shrink: 0;

    @include bpgte(sm)
    {
      flex: 1;
    }
  }

  &-inputWrap
  {
    position: relative;
    width: 100%;
    height: 100%;

    @include bplte(sm)
    {
      width: auto;
      flex-grow: 1;
      margin: 0 $gutter;
    }

    @include bplte(xs)
    {
      margin-right: 0;
      margin-left: $gutter/2;
    }
  }

  &-input
  {
    @include color(opp);
    @include color(opp, border-color);
    @include color(trans, background-color);
    width: 100%;
    appearance: none;
    font-size: $gutter;
    line-height: $gutter-mini*2 - 2px;
    padding: $gutter/2 $gutter*2 $gutter/2 $gutter;
    text-align: center;
    border: $border-thin;
    border-radius: $gutter-mini*2;

    &:focus
    {
      outline: none;
      text-align: left;
    }

    &:focus::placeholder
    {
      color: transparent;
    }

    &::placeholder
    {
      color: inherit;
      font-style: italic;
    }
  }

  &-searchButton
  {
    position: absolute;
    right: 10px;
    top: 10px;
    font-size: 20px;
    line-height: 1;
    transition: opacity $transition-fast;

    &:disabled
    {
      opacity: 0.6;
    }

    i
    {
      @include color(opp, color);
    }
  }

  &-signInButton
  {
    @include color(opp);
    text-decoration: none;

    @include hoverActive
    {
      .Header-signInButtonText
      {
        text-decoration: underline;
      }

      i
      {
        opacity: 1;
      }
    }

    i
    {
      font-size: 20px;
      line-height: 1;
      margin-right: $gutter/2;
    }
  }

  &-signInButtonText
  {
    font-size: 16px;

    @include bplte(xs)
    {
      display: none;
    }
  }

  &-settingsButton
  {
    margin-left: $gutter;
  }
}
