.IconUpdate
{
  &-main
  {
    display: flex;
    flex-direction: column;
    align-items: center;
    
    @include bpgte(sm)
    {
      width: 500px;
    }
  }

  &-icons,
  &-colors
  {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
  }

  &-iconButton,
  &-colorButton
  {
    flex-basis: percentage(1/3);
    padding: $gutter/2;
  }

  &-icon
  {
    height: 100px;
  }

  &-cancel
  {
    margin-top: $gutter/2;
    padding: $gutter/2;
    font-style: italic;
  }
}