.Line
{
  &-close
  {
    @include CloseButton;
  }

  &-title
  {
    display: flex;
    align-items: center;
    padding: 0 $gutter;

    @include bplte(xs)
    {
      padding: 0 $gutter-mini;
    }
  }

  &-namePrev
  {
    @include color(opp, border-color);
    border: $border-default;
    width: $gutter-mini*2;
    height: $gutter-mini*2;
    margin-right: $gutter-mini;
    flex-shrink: 0;
  }

  &-name
  {
    @include Focus-name;
    width: 100%;
  }

  &-travel
  {
    text-align: center;
  }

  &-travelTime
  {
    font-weight: 700;
  }

  &-modeSelect
  {
    display: flex;
    align-items: center;
    margin-top: $gutter-mini;

    i
    {
      margin-left: $gutter/2;
    }
  }

  &-noStations,
  &-reverseWrap,
  &-duplicateWrap,
  &-deleteWrap
  {
    margin-top: $gutter-mini;
  }

  &-stations
  {
    @include color(opp, border-color);
    margin-top: $gutter-mini;
    border-top: $border-thin;
    padding-top: $gutter/2;
  }

  &-station
  {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &-stationButton
  {
    @include SlideHover;
    display: flex;
    align-items: center;
    padding: $gutter/2 0;
  }

  &-stationName
  {
    text-align: left;
    word-break: break-word;
  }

  &-waypoints
  {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &-waypointsButton
  {
    display: flex;
    align-items: center;
    padding: $gutter/2 0;
  }

  &-waypointsName
  {
    font-size: 14px;
    font-style: italic;
    text-align: left;
    word-break: break-word;
  }

  &-transfers
  {
    display: flex;
    padding: 0 $gutter-mini;
    width: 120px;
    flex-wrap: wrap;
  }

  &-transferPrev
  {
    @include color(opp, border-color);
    border: $border-default;
    width: $gutter;
    height: $gutter;
    margin: $gutter/4;
  }

  &-stationRemove,
  &-waypointsRemove
  {
    padding: $gutter/4;
    border: $border-thin-transparent;
    transition: border-color $transition-xfast;

    @include hoverActive
    {
      @include color(opp, border-color);
    }
  }

  &-colorsText
  {
    width: 100%;
  }

  &-colors
  {
    margin-top: $gutter-mini;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: $gutter-mini;
    grid-row-gap: $gutter-mini;
  }

  &-color
  {
    @include color(opp, border-color);
    border: $border-default;
    width: 100%;
    padding-bottom: 100%;
  }

  &-reverse,
  &-duplicate,
  &-delete,
  &-colorsCancel
  {
    width: 100%;
    text-align: left;
    font-style: italic;
  }

  &-colorsCancel
  {
    margin-top: $gutter-mini;

    @include bplte(xs)
    {
      margin: $gutter-mini 0;
    }
  }
}
