.LineButtons
{
  padding: $gutter-mini;

  &--inDrawer
  {
    padding: 0;
  }

  &--inDrawer &-item
  {
    width: 100%;
    padding: 2px 0;
  }

  &--inDrawer &-button
  {
    width: 100%;
    padding: $gutter/2;
  }

  &--inDrawer &-linePrev
  {
    width: $gutter-mini*2;
    height: $gutter-mini*2;
  }

  &--inDrawer &-addIcon
  {
    font-size: $gutter-mini*2;
    width: $gutter-mini*2;
    height: $gutter-mini*2;
  }

  &-item
  {
    display: inline-block;
    padding: $gutter/4;
  }

  &-item--focused &-button
  {
    @include color(opp, border-color);

    &[data-lightcolor='true']
    {
      color: $black;
    }

    &[data-lightcolor='false']
    {
      color: $white;
    }
  }

  &-item--focused &-button[data-lightcolor='true'] &-linePrev
  {
    border-color: $black;
  }

  &-item--focused &-button[data-lightcolor='false'] &-linePrev
  {
    border-color: $white;
  }

  &-button
  {
    @include color(nearer, background-color);
    display: flex;
    align-items: center;
    border: $border-default transparent;
    border-radius: 100vh;
    padding: $gutter-mini;
    transition: $transition-fast background-color, $transition-fast border-color, $transition-fast color;

    @include hoverActive
    {
      @include color(opp, border-color);
    }

    // @include bplte(xs)
    // {
    //   padding: $gutter/2 0;
    // }

    @include bpgte(sm)
    {
      &:not(:first-child)
      {
        margin-top: $gutter-mini/2;
      }
    }
  }

  &-linePrev
  {
    border: $border-default;
    width: $gutter;
    height: $gutter;
    margin-right: $gutter/2;
    flex-shrink: 0;
    transition: $transition-fast border-color;
  }

  &-line,
  &-addText
  {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  &-addIcon
  {
    display: flex;
    align-items: center;
    justify-content: center;
    width: $gutter;
    height: $gutter;
    font-size: $gutter;
    margin-right: $gutter/2;
    flex-shrink: 0;
  }
}
