.Map
{
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;

  &--searchResult
  {
    height: 100%;
    width: 100%;
    border-radius: $gutter-mini;
    overflow: hidden;
  }

  &--searchResult .mapboxgl-control-container
  {
    display: none;
  }

  .mapboxgl-canvas-container,
  .mapboxgl-canvas
  {
    height: 100%;
    width: 100%;
    cursor: pointer;
  }

  .mapboxgl-ctrl-top-left,
  .mapboxgl-ctrl-top-right,
  .mapboxgl-ctrl-bottom-left,
  .mapboxgl-ctrl-bottom-right
  {
    z-index: 0;
  }

  &-station
  {
    height: $gutter-mini*2;
    width: $gutter-mini*2;
    padding: $gutter/4;
    cursor: pointer;

    @include bplte(sm)
    {
      height: $gutter*2;
      width: $gutter*2;
      padding: $gutter/2;
    }

    &:focus
    {
      outline: 0;
    }

    &--interchange
    {
      height: $gutter-mini*2 + 4px;
      width: $gutter-mini*2 + 4px;

      @include bplte(sm)
      {
        height: $gutter*2 + 4px;
        width: $gutter*2 + 4px;
      }
    }

    &--focused
    {
      outline: 0;

      svg
      {
        transform: scale(1.5);
      }
    }

    svg
    {
      transition: transform $transition-fast;
    }
  }
}
