.Notifications
{
  position: relative;
  z-index: 3;

  &--view &-tray
  {
    @include bpgte(sm)
    {
      right: -$gutter;
    }

    @include bplte(xs)
    {
      top: $main-header-height + $gutter;
    }
  }

  &-notifsButton
  {
    &--pulsed .Notifications-count
    {
      box-shadow: 0 0 4px 2px $red;
    }
  }

  &-count
  {
    @include color(alert, background-color);
    color: $white;
    display: block;
    position: absolute;
    z-index: 1;
    border-radius: 50%;
    box-shadow: none;
    transition: box-shadow $transition-fast;

    &--view
    {
      min-width: 16px;
      line-height: 12px;
      padding: 2px;
      font-size: 12px;
      top: -4px;
      right: -8px;
    }

    &--default
    {
      min-width: 18px;
      line-height: 14px;
      padding: 2px;
      font-size: 14px;
      top: 2px;
      right: 2px;
    }
  }

  &-tray
  {
    @include color(opp, color);
    @include color(opp, border-color);
    @include color(nearer, background-color);
    position: absolute;
    right: 0;
    top: calc(100% + #{$gutter*2});
    width: 350px;
    border: $border-thin;

    @include bpgte(sm)
    {
      right: -$gutter;
    }

    @include bplte(xs)
    {
      position: fixed;
      width: calc(100% - #{$gutter});
      right: $gutter/2;
      top: $main-header-height + $gutter;
    }

    &:before
    {
      @include color(opp, border-color);
      content: '';
      background-color: inherit;
      position: absolute;
      right: $gutter-mini;
      top: -$gutter-mini;
      width: $gutter-mini*2;
      height: $gutter-mini*2;
      transform: rotate(45deg);
      border-top: $border-thin;
      border-left: $border-thin;

      @include bplte(xs)
      {
        right: $gutter*3;
      }
    }
  }

  &-heading
  {
    font-size: 24px;
    font-weight: 700;
    padding: $gutter/2 $gutter;
  }

  &-items
  {
    @include color(near, background-color);
    height: 50vh;
    overflow-y: auto;
  }

  &-item
  {
    @include color(near, background-color);
    @include color(opp, border-color);
    display: block;
    position: relative;
    padding: $gutter/2 $gutter/2 $gutter/2 $gutter;
    transition: background-color $transition-fast;

    &:before
    {
      @include color(opp, background-color);
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      height: 100%;
      width: $gutter/4;
      transition: width $transition-fast;
    }

    @include hoverActive
    {
      @include color(nearer, background-color);

      &:before
      {
        width: 0;
      }
    }

    &--viewed:before
    {
      width: 0;
    }
  }

  &-none
  {
    font-style: italic;
    padding: $gutter;
  }

  &-overlay
  {
    position: fixed;
    height: 100vh;
    width: 100vw;
    top: 0;
    left: 0;
    z-index: -1;
    background-color: transparent;
    cursor: default;
  }
}
