.Notif
{
  &-content
  {
    display: flex;
  }

  &-iconWrap
  {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    min-width: 48px;
    width: 48px;
    padding: $gutter/2 $gutter/4;

    &--star
    {
      @include color(star);
      font-size: 22px;
    }

    &--system img
    {
      width: 30px;
    }
  }

  &-main
  {
    padding-left: $gutter/4;
  }

  &-text
  {
    font-size: 16px;
    text-align: left;
  }

  &-styledText
  {
    &--bold
    {
      font-weight: 700;
    }

    &--italic
    {
      font-style: italic;
    }

    &--big
    {
      font-size: 110%;
    }
  }

  &-time
  {
    font-size: 12px;
    font-style: italic;
    margin-top: $gutter/4;
  }
}
