.Own
{
  @include color(opp);
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - #{$header-height} - #{$footer-height});
  padding: $gutter*2;

  &-container
  {
    z-index: 1;
    height: 100%;
    width: 325px;
    overflow: hidden;
  }

  &-heading
  {
    font-weight: 700;
    font-size: $gutter-mini*2;
    padding-bottom: $gutter;
    text-align: center;
  }

  &-inputWrap
  {
    margin: 0;
    width: 100%;

    input
    {
      @include color(opp);
      @include color(opp, border-color);
      @include color(trans, background-color);
      appearance: none;
      width: 100%;
      font-size: $gutter;
      line-height: $gutter-mini*2;
      padding: $gutter/2;
      text-align: center;
      border: $border-thin;

      &:focus
      {
        // ensure element size stays constant as border increases
        padding: $gutter/2 - 1px;
        outline: none;
        border: $border-default;
      }

      &::placeholder
      {
        color: inherit;
        font-style: italic;
      }
    }
  }

  &-choices
  {
    @include color(trans, background-color);
    z-index: 1;
    max-height: 100%;
    width: 100%;
    overflow: auto;
  }

  &-choice
  {
    display: block;
    width: 100%;
    text-align: left;
    font-size: $gutter;
    font-size: $gutter-mini*2;
    padding: $gutter-mini;
    border: $border-thin-transparent;
    transition: border-color $transition-xfast;

    @include hoverActive
    {
      @include color(opp, border-color);
    }
  }

  &-newSystem
  {
    display: block;
    width: 100%;
    font-style: italic;
    text-align: left;
    padding: $gutter-mini;
  }
}
