.Result
{
  @include color(opp);
  @include color(near, background-color);
  display: block;
  position: relative;
  height: 0;
  padding-bottom: percentage(9/16); // 16:9 ratio, like a video
  border: $border-thin transparent;
  border-radius: $gutter-mini;
  overflow: hidden;
  text-align: left;
  transition: $transition-fast border-color;

  &--ready
  {
    @include color(nearer, border-color);

    @include bplte(sm)
    {
      @include color(near, border-color);
    }
  }

  @include bpgte(sm)
  {
    &--feature
    {
      padding-bottom: percentage(6/16);
    }
    
    &--feature &-infoWrap
    {
      padding: $gutter;
    }
    
    &--feature &-title
    {
      font-size: $gutter*2;
    }
    
    &--feature &-subtext
    {
      font-size: $gutter;
    }
  }

  @include hoverActive
  {
    @include color(opp, border-color);

    .Result-info
    {
      height: 80%;
    }
  }

  &-map
  {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;

    // needed to prevent overflow on iOS Safari
    .mapboxgl-canvas
    {
      border-radius: $gutter-mini;
      overflow: hidden;
    }
  }

  &-info
  {
    @include color(opp);
    position: absolute;
    height: 100%;
    width: 100%;
    bottom: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    transition: all $transition-fast;
    background: transparent;
    background: linear-gradient(0deg, rgba(0,0,0,0.8) 0%, rgba(0,0,0,0) 40%);
    border-bottom-left-radius: $gutter-mini;
    border-bottom-right-radius: $gutter-mini;
    overflow: hidden;
    
    .LightMode &
    {
      background: linear-gradient(0deg, rgba(255,255,255,0.8) 0%, rgba(255,255,255,0) 40%);
    }
  }

  &-infoWrap
  {
    padding: $gutter/2;
  }

  &-title
  {
    font-size: $gutter;
    font-weight: 700;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
  }

  &-details
  {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: $gutter-mini;
    font-style: italic;
  }

  &-owner--you
  {
    @include color(user);
    font-weight: 700;
  }

  &-starText
  {
    @include color(star);
  }
}
