.Start
{
  @include color(opp);
  position: absolute;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  @include bplte(xs)
  {
    flex-direction: column;
  }

  &-heading
  {
    font-weight: 700;
    font-size: $gutter-mini*2;
    padding-bottom: $gutter;
  }

  &-upper,
  &-lower
  {
    width: 325px;
    display: flex;
    flex-direction: column;

    @include bpgte(sm)
    {
      height: 40%;
    }
  }

  &-defaultChoices
  {
    @include color(trans, background-color);
  }

  &-defaultChoice
  {
    display: block;
    width: 100%;
    font-size: $gutter;
    font-size: $gutter-mini*2;
    padding: $gutter-mini;
    border: $border-thin-transparent;
    transition: border-color $transition-xfast;

    @include hoverActive
    {
      @include color(opp, border-color);
    }
  }

  &-lower
  {
    margin-left: $gutter*2;

    @include bplte(xs)
    {
      margin-top: $gutter;
      margin-left: 0;
    }
  }

  .react-geocoder
  {
    margin: 0;
    width: 100%;

    input
    {
      @include color(opp);
      @include color(opp, border-color);
      @include color(trans, background-color);
      appearance: none;
      width: 100%;
      font-size: $gutter;
      line-height: $gutter-mini*2;
      padding: $gutter/2;
      text-align: center;
      border: $border-thin;

      &:focus
      {
        // make it appear that the elem does not vertically
        // grow as border increases
        margin-top: -1px;
        outline: none;
        border: $border-default;
      }

      &::placeholder
      {
        color: inherit;
        font-style: italic;
      }
    }
  }

  .react-geocoder-results
  {
    @include color(trans, background-color);
    @include color(opp);
    font-size: 16px;
    position: absolute;
    width: 325px;
    padding: $gutter/2;
  }

  .react-geocoder-item
  {
    padding: $gutter-mini/2 0;

    @include hoverActive
    {
      text-decoration: underline;
    }
  }
}
