.StarAndCount
{
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  height: $gutter*3;
  width: $comment-width;
  height: $gutter-mini*5;
  width: $branch-width;
  transition: height $transition-fast, margin $transition-fast;

  @include bplte(xs)
  {
    height: $gutter*3;
    width: $branch-width;
  }

  &--none
  {
    height: $gutter-mini*3;
    margin-top: $gutter-mini;
    margin-bottom: $gutter-mini;

    @include bplte(xs)
    {
      height: $gutter-mini*2;
    }
  }

  &--none
  {
    height: $gutter-mini*3;
    margin-top: $gutter-mini;
    margin-bottom: $gutter-mini;

    @include bplte(xs)
    {
      height: $gutter*2;
      margin-top: $gutter/2;
      margin-bottom: $gutter/2;
    }
  }

  &-icon
  {
    @include color(star);
    position: absolute;
    top: 0;
    width: $star-width;
    font-size: 32px;

    @include bplte(xs)
    {
      font-size: 24px;
      width: $star-width * 3 / 4;
    }

    &:disabled
    {
      pointer-events: none;
    }

    i
    {
      position: absolute;
      top: 0;
      left: 0;
      transition: opacity $transition-fast;
    }

    &--starred
    {
      .fas
      {
        opacity: 1;
      }

      .far
      {
        opacity: 0;
      }

      @include hoverActive
      {
        .fas
        {
          opacity: 0;
        }

        .far
        {
          opacity: 1;
        }
      }
    }

    &--unstarred
    {
      .fas
      {
        opacity: 0;
      }

      .far
      {
        opacity: 1;
      }

      @include hoverActive
      {
        .fas
        {
          opacity: 1;
        }

        .far
        {
          opacity: 0;
        }
      }
    }
  }

  &-count
  {
    @include color(opp);
    position: absolute;
    text-align: center;
    font-weight: 700;
    transition: color $transition-fast;
  }
}
