.SystemHeader
{
  @include NoPointer;
  height: $main-header-height;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 4;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: $gutter/2 $gutter;
  background: transparent;
  background: linear-gradient(180deg, rgba(0,0,0,0.8) 0%, rgba(0,0,0,0) 100%);

  .LightMode &
  {
    background: linear-gradient(180deg, rgba(255,255,255,0.8) 0%, rgba(255,255,255,0) 100%);
  }

  &-headerLeft,
  &-headerRight
  {
    height: 100%;
    display: flex;
    align-items: center;
  }

  &-signInButton
  {
    @include color(opp);
  }

  &-settingsButton
  {
    margin-left: $gutter;
  }
}
