.System
{
  max-height: 100%;
  overflow: auto;
  padding: $gutter-mini;

  &--fullscreen
  {
    height: 100vh;
    width: 100vw;
    padding: 0;
  }

  &--fullscreen &-main
  {
    height: 100%;
    width: 100%;
  }

  &--fullscreen &-primary
  {
    height: 100%;
    width: 100%;
    padding: 0;
  }

  &--fullscreen &-map
  {
    position: absolute;
    height: 100%;
    width: 100%;
    border-radius: 0;
  }

  &--fullscreen &-secondary
  {
    flex: initial;
    width: auto;
  }

  &-main
  {
    display: flex;
  }

  &-primary
  {
    flex: 3;
    padding: $gutter-mini;
  }

  &-secondary
  {
    flex: 1;
    padding: $gutter-mini;
  }

  &-map
  {
    position: relative;
    width: 100%;
    padding-bottom: percentage(9/16); // 16:9 ratio, like a video
    border-radius: $gutter-mini;
    overflow: hidden;
  }

  &-actions
  {
    @include color(trans, background-color);
    position: absolute;
    top: $gutter/2;
    left: $gutter/2;
    padding: $gutter-mini;
    border-radius: $gutter-mini;
    display: flex;
    align-items: center;
  }

  &-action
  {
    @include color(opp);
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-size: $gutter-mini*2;
    line-height: 1;
    height: $gutter*2;
    width: $gutter-mini*3;
    transition: $transition-fast font-size;

    &:hover
    {
      font-size: $gutter*2;
    }

    &:not(:first-child)
    {
      margin-left: $gutter/2;
    }
  }

  &-lead
  {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: $gutter-mini;
  }

  &-author
  {
    @include color(near, background-color);
    @include color(opp);
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-size: 16px;
    padding: $gutter-mini;
    border-radius: 100vh; // strange but rounds elem relative to height
  }

  &-authorName
  {
    margin-left: $gutter/2;
  }

  &-branchAndStar
  {
    display: flex;
    align-items: center;

    & > *
    {
      margin-left: $gutter;
    }
  }

  &-details
  {
    @include color(near, background-color);
    @include color(opp);
    @include color(opp, border-color);
    border-radius: $gutter-mini;
    padding: $gutter;
    margin-top: $gutter-mini;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
  }

  &-timeText
  {
    font-style: italic;
  }

  &-detailsDivider
  {
    margin: 0 $gutter/2;
  }
}
