.User
{
  @include color(opp);
  display: flex;
  flex-direction: column;

  &-bannerSystem
  {
    padding: 0 $gutter;
  }

  &-title
  {
    padding: 0 $gutter;
    margin-top: $gutter;
    display: flex;
    align-items: center;

    i
    {
      font-size: $gutter-mini*2;
      margin-right: $gutter-mini;
    }
  }

  &-systems
  {
    display: flex;
    flex-wrap: wrap;
    padding: $gutter/2;
  }

  &-systemPreview
  {
    flex-basis: percentage(1/3);
    padding: $gutter/2;
  }
}