.User
{
  @include color(opp);
  display: flex;
  flex-direction: column;

  &-bannerSystem
  {
    padding: 0 $gutter;
  }

  &-titleRow
  {
    padding: 0 $gutter;
    margin-top: $gutter;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &-title
  {
    display: flex;
    align-items: center;

    i
    {
      font-size: $gutter-mini*2;
      margin-right: $gutter-mini;
    }
  }

  &-editButtons
  {
    display: flex;
    align-items: center;
  }

  &-button
  {
    padding: $gutter-mini;

    &--edit,
    &--save
    {
      @include Button--primary;
      border-radius: 100vh;
    }

    &--cancel
    {
      @include Link;
    }

    &:not(:first-child)
    {
      margin-left: $gutter;
    }
  }

  &-tabs
  {
    display: flex;
    width: 100%;
    justify-content: center;
  }

  &-tab
  {
    flex-basis: 25%;
    padding: $gutter-mini;
    border-bottom: $border-default;
    border-color: transparent;
    transition: $transition-fast border-color;

    &--active
    {
      @include color(opp, border-color);
    }
  }

  &-noSystems
  {
    padding: $gutter;
    font-style: italic;
    text-align: center;

    &--hidden
    {
      display: none;
    }
  }

  &-systems
  {
    display: flex;
    flex-wrap: wrap;
    padding: $gutter/2;

    &--hidden
    {
      display: none;
    }
  }

  &-noStars
  {
    padding: $gutter;
    font-style: italic;
    text-align: center;

    &--hidden
    {
      display: none;
    }
  }

  &-starredSystems
  {
    display: flex;
    flex-wrap: wrap;
    padding: $gutter/2;

    &--hidden
    {
      display: none;
    }
  }

  &-systemPreview
  {
    flex-basis: percentage(1/3);
    padding: $gutter/2;
  }
}