// TODO: can this file be deleted?
.View
{
  position: relative;
  height: 100%;

  &-splashWrap
  {
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &-splash
  {
    width: 30vw;

    @include bp(sm)
    {
      width: 40vw;
    }

    @include bplte(xs)
    {
      width: 60vw;
    }
  }

  &-titleWrap
  {
    @include NoPointer;
    @include color(opp);
    position: absolute;
    display: flex;
    justify-content: center;
    top: $gutter/2;
    z-index: 1;
    width: 100%;
    font-weight: 700;
    font-size: $gutter-mini*2;
  }

  &-initial,
  &-title
  {
    text-align: center;
    display: inline;
    max-width: 75%;
  }
}
