.Ancestry
{
  width: 100%;

  &-title
  {
    font-size: 18px;
    font-weight: 700;

    i
    {
      font-size: $gutter;
      margin-left: $gutter/2;
    }
  }

  &-items
  {
    position: relative;
    margin-top: $gutter/2;
    padding-left: 2px;
    display: flex;
    flex-direction: column-reverse;
  }

  &-relativeWrap
  {
    padding-left: $gutter-mini;
    position: relative;
    margin-bottom: $gutter-mini;
    font-size: $gutter;

    &::before
    {
      @include color(opp, background-color);
      content: '';
      position: absolute;
      left: -1px;
      top: 0.7em; // account for wrapping text
      transform: translateY(-50%);
      display: inline-block;
      width: $gutter-mini/2;
      height: $gutter-mini/2;
      border-radius: $gutter-mini/4;
    }

    &::after
    {
      @include color(opp, border-color);
      content: '';
      position: absolute;
      left: -2px;
      bottom: -10px;
      width: $gutter/2;
      height: $gutter/2;
      border-bottom: $border-default;
      border-right: $border-default;
      transform: rotate(45deg);
    }

    &--default
    {
      @include color(mid, color);

      &::before
      {
        @include color(mid, background-color);
      }

      &::after
      {
        @include color(mid, border-color);
      }
    }

    &--curr
    {
      @include color(user, color);
      margin-top: 0;

      &::before
      {
        @include color(user, background-color);
      }

      &::after
      {
        content: none;
      }
    }
  }
}
