.Comments
{
  &-top
  {
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }

  &-heading
  {
    font-size: 18px;
    font-weight: 700;
  }

  &-lockButton
  {
    &::before
    {
      @include color(opp, background-color);
      display: inline-block;
      margin: 0 $gutter-mini;
      width: $gutter/2;
      height: $gutter/2;
      border-radius: $gutter/4;
      content: '';
    }

    i
    {
      font-size: $gutter;
    }
  }

  &-new
  {
    width: 100%;
    display: flex;
    align-items: flex-start;
    margin-top: $gutter-mini;

    @include bplte(xs)
    {
      flex-wrap: wrap;
      justify-content: flex-end;
    }
  }

  &-textarea
  {
    @include color(further);
    @include color(opp, border-bottom-color);
    font-family: inherit;
    font-size: 16px;
    overflow: auto;
    outline: none;
    box-shadow: none;
    resize: none;
    background-color: transparent;
    flex-grow: 1;
    padding: 5px $gutter/4;
    border: $border-default;
    border-color: transparent;
    transition: $transition-fast all;

    @include bplte(xs)
    {
      flex-basis: 100%;
    }

    &:focus
    {
      @include color(opp, border-color);
      border-radius: $gutter/2;
    }
  }

  &-submit
  {
    border-radius: 100vh;
    margin-left: $gutter;
    transition: $transition-fast all;

    @include bplte(xs)
    {
      margin-left: 0;
      margin-top: $gutter/2;
    }

    &:disabled
    {
      pointer-events: none;
      opacity: 0.5;
    }
  }

  &-locked,
  &-none
  {
    margin-top: $gutter;
    font-style: italic;
  }

  &-item
  {
    margin-top: $gutter-mini*2;
  }

  &-showAll
  {
    display: flex;
    align-items: center;
    padding: $gutter/2;
    margin-left: auto;
    margin-right: auto;
    margin-top: $gutter;
    opacity: 1;
    transition: opacity $transition-fast;

    i
    {
      font-size: 24px;
      margin-right: $gutter-mini/2;
    }

    @include hoverActive
    {
      opacity: 0.75;

      .Comments-allText
      {
        text-decoration: underline;
      }
    }
  }
}
