.Comment
{
  &-top
  {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
  }

  &-author
  {
    display: flex;
    align-items: center;
  }

  &-authorIcon
  {
    height: $gutter-mini*2;
    width: $gutter*2;
  }

  &-authorName
  {
    margin-left: $gutter/2;
  }

  &-admin
  {
    @include color(comment);
    font-weight: 700;
    padding: 2px 0;
  }

  &-op
  {
    @include color(user);
    font-weight: 700;
    padding: 2px 0;
  }

  &-timeText
  {
    padding: 2px 0;
  }

  &-delete
  {
    font-style: italic;
    padding: 2px 0;
  }

  &-deleteCheck
  {
    display: flex;
    align-items: center;
  }

  &-deleteConfirm,
  &-deleteCancel
  {
    font-style: italic;
    margin-left: $gutter/2;
  }

  &-divider
  {
    margin: 0 $gutter/2;
    padding: 2px 0;
  }

  &-content
  {
    margin-top: $gutter/2;
    word-wrap: anywhere;
    word-break: normal;
    white-space: pre-wrap;
  }
}
