
$author-icon-width: $gutter*2;

.Comment
{
  &-top
  {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
  }

  &-author
  {
    display: flex;
    align-items: center;
  }

  &-authorIcon
  {
    height: $author-icon-width;
    width: $gutter*2;
  }

  &-authorName
  {
    margin-left: $gutter/2;
  }

  &-admin
  {
    @include color(comment);
    font-weight: 700;
    padding: 2px 0;
  }

  &-op
  {
    @include color(user);
    font-weight: 700;
    padding: 2px 0;
  }

  &-timeText
  {
    padding: 2px 0;
  }

  &-delete,
  &-reply,
  &-report
  {
    font-style: italic;
    padding: 2px 0;
  }

  &-deleteCheck,
  &-reportCheck
  {
    display: flex;
    align-items: center;
  }

  &-deleteConfirm,
  &-deleteCancel,
  &-reportConfirm,
  &-reportCancel
  {
    font-style: italic;
    margin-left: $gutter/2;
  }

  &-divider
  {
    margin: 0 $gutter/2;
    padding: 2px 0;
  }

  &-replyTo
  {
    margin-left: $author-icon-width + $gutter;
    display: flex;
    align-items: center;
    max-width: 100%;
    flex-basis: 100%;
    padding-left: $gutter/2;
    margin-bottom: $gutter-mini/2;
    font-size: 14px;

    @include bplte(xs)
    {
      margin-left: $gutter-mini;
    }

    > i
    {
      transform: rotate(90deg);
      width: $gutter;
      vertical-align: text-bottom;
      padding-left: $gutter/4;
    }
  }

  &-replyToAuthorName
  {
    flex-shrink: 0;
    margin-left: $gutter/2;

    &:after
    {
      content: ':';
      margin-right: 1ch;
    }
  }

  &-replyToContent
  {
    flex-grow: 1;
    font-style: italic;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }

  &-content
  {
    margin-left: $author-icon-width + $gutter/2;
    margin-top: $gutter/2;
    word-wrap: anywhere;
    word-break: normal;
    white-space: pre-wrap;

    @include bplte(xs)
    {
      margin-left: $gutter/2;
    }
  }

  &-actionRow
  {
    display: flex;
    align-items: center;
    margin-left: $author-icon-width + $gutter/2;
    margin-top: $gutter-mini;

    @include bplte(xs)
    {
      margin-left: $gutter/2;
    }
  }

  &-ballot
  {
    @include color(nearer, background-color);
    display: flex;
    align-items: center;
    border-radius: $gutter;
    padding: $gutter/4;
  }

  &-vote
  {
    @include color(opp, color);
    width: $gutter-mini*2;
    height: $gutter-mini*2;
    border-radius: $gutter-mini;
    background-color: transparent;
    transition: $transition-fast all;

    // needed for color specificity in LightMode
    &.Comment-vote--on
    {
      color: $white;
      background-color: $magenta-light;
    }

    &:hover
    {
      color: $white;
      background-color: $magenta-dark;
    }

    &:disabled
    {
      @include color(nearlean, color);
      pointer-events: none;
    }
  }

  &-votes
  {
    margin: 0 $gutter/2;
  }

  &-reply,
  &-report,
  &-reportCheck
  {
    margin-left: $gutter/2;
  }
}
