.Controls
{
  @include color(trans, background-color);
  @include color(opp);
  position: absolute;
  z-index: 1;
  top: $gutter;
  left: $gutter;
  padding: $gutter 0;

  @include bplte(sm)
  {
    width: calc(100% - #{$gutter*2});
  }

  &--settings &-exCol
  {
    display: none;
  }

  &-titleWrap
  {
    display: flex;
    width: 100%;
    padding: 0 $gutter;
  }

  &-title
  {
    @include Focus-name;
    flex-grow: 1;
  }

  &-main
  {
    display: flex;
    flex-direction: column;
    margin-top: $gutter;
    padding: 0 $gutter;
  }

  &-left
  {
    margin-right: 0;
    display: flex;
  }

  &-save,
  &-undo,
  &-compress
  {
    @include color(opp);
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-size: $gutter-mini*2;
    line-height: 1;
    height: $gutter*2;
    flex-basis: 40px;
    flex-shrink: 0;
    transition: $transition-fast font-size;

    @include hoverActive
    {
      font-size: $gutter*2;
    }

    i
    {
      margin: auto;
    }
  }

  &-exCol
  {
    margin-left: auto;
    display: flex;
    justify-content: flex-end;
    align-items: center;

    @include bpgte(md)
    {
      min-width: $gutter-mini*10;
    }

    @include hoverActive
    {
      .Controls-exColText
      {
        text-decoration: underline;
      }
    }

    &--expanded i
    {
      transform: rotate(180deg);
    }

    i
    {
      transition: transform $transition-slow;
    }
  }

  &-exColText
  {
    padding: 0 $gutter/2;
  }

  &-right
  {
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    width: 100%;
    margin-top: $gutter-mini;
    flex-grow: 1;
    transition: all $transition-slow;

    @include bpgte(md)
    {
      max-width: 330px;
      max-height: calc(100vh - #{$gutter*2 + 146px});
    }

    @include bplte(sm)
    {
      max-height: calc(50vh - #{$gutter*8 + 46px});
    }

    &--collapsed
    {
      margin-top: 0;
      max-height: 0;
      overflow: hidden;
    }

    &--expanded
    {
      .System--fullscreenFallback &
      {
        max-height: calc(50vh - #{$gutter*15});
      }
    }

    .MapStyles
    {
      margin-bottom: $gutter/4;
    }
  }

  &-lineWrap
  {
    @include SlideHover;
    display: flex;
    align-items: center;
    width: 100%;
    padding: $gutter/2 0;
  }

  &-linePrev
  {
    @include color(opp, border-color);
    border: $border-default;
    width: $gutter;
    height: $gutter;
    margin-right: $gutter/2;
    flex-shrink: 0;
  }

  &-line
  {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  &-newLineWrap
  {
    margin-top: $gutter/2;
  }

  &-newLine
  {
    font-style: italic;
  }
}
