.Description
{
  &-content
  {
    @include color(opp);
    font-size: 18px;
    text-overflow: ellipsis;
    overflow: hidden;
    word-wrap: anywhere;
    word-break: normal;
    white-space: pre-wrap;
    padding: $gutter/2 0;

    @include bplte(xs)
    {
      font-size: 16px;
    }
  }

  &-inputForm
  {
    position: relative;

    i
    {
      @include color(opp);
      pointer-events: none;
      position: absolute;
      right: $gutter/2;
      top: 50%;
      transform: translateY(-50%);
    }
  }

  &-textarea
  {
    @include color(opp);
    font-family: inherit;
    overflow: auto;
    outline: none;
    box-shadow: none;
    resize: none;
    background-color: transparent;
    width: 100%;
    font-size: 18px;
    line-height: 22px;
    padding: $gutter/2 $gutter*2 $gutter/2 $gutter/2;
    border: $border-thin-transparent;
    transition: $transition-fast border-color;

    @include bplte(xs)
    {
      font-size: 16px;
    }

    &:hover
    {
      @include color(opp, border-bottom-color);
    }

    &:focus
    {
      @include color(opp, border-color);
      outline: none;
    }

    &::placeholder
    {
      font-weight: 400;
    }
  }
}
