.Dropdown
{
  &-root
  {
    flex-grow: 1;
  }

  &-disabled &-arrow
  {
    display: none;
  }

  &-control
  {
    @include color(opp, border-color);
    @include color(opp);
    background-color: transparent;
    width: 100%;
    border: $border-thin;
    border-radius: $gutter-mini;
  }

  &-arrow
  {
    @include color(opp, border-top-color);

    .Dropdown-control:hover &,
    .Dropdown-control:active &,
    .is-open &
    {
      @include color(further, border-top-color);
      @include color(further, border-bottom-color);
    }
  }

  &-menu
  {
    @include color(nearer, background-color);
    @include color(opp, border-color);
    @include color(opp);
    border-radius: $gutter-mini;
    top: calc(100% + #{$gutter/4});
  }

  &-option
  {
    @include color(opp);

    @include hoverActive
    {
      @include color(near, background-color);

      text-decoration: underline;
    }

    &:hover
    {
      @include color(near, background-color);

      text-decoration: underline;
    }

    &.is-selected
    {
      @include color(near, background-color);
    }
  }
}
