.Footer
{
  @include color(opp);
  @include color(nearer, background-color);
  width: 100%;
  z-index: 2;
  padding: $gutter/2 $gutter;

  @include bpgte(md)
  {
    padding: $gutter/2 $gutter-mini*2;
  }

  &-container
  {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &-left
  {
    display: flex;
    align-items: center;
  }

  &-buttons
  {
    display: flex;
    align-items: center;

    @include bplte(xs)
    {
      display: none;
    }
  }

  &-missionButton,
  &-contributeButton
  {
    margin-left: $gutter;
  }

  &-designation
  {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &-desigLogo
  {
    height: $gutter-mini*2;
  }

  &-copyright
  {
    font-size: $gutter-mini;
    margin-top: $gutter/4;
    white-space: nowrap;
    text-align: center;
  }

  &-links
  {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: none;
    row-gap: $gutter-mini/2;
    grid-column-gap: $gutter-mini;
    grid-auto-flow: column;

    @include bp(sm)
    {
      grid-template-rows: none;
      grid-template-columns: repeat(10, auto);
      row-gap: $gutter-mini/2;
      grid-column-gap: $gutter-mini;
      grid-auto-flow: row;
    }

    @include bplte(xs)
    {
      grid-template-columns: none;
      grid-template-rows: repeat(10, auto);
      row-gap: $gutter-mini/2;
      grid-column-gap: $gutter-mini;
      grid-auto-flow: column;
    }
  }

  &-link
  {
    font-size: $gutter-mini;
    text-align: center;
    white-space: nowrap;

    @include bp(sm)
    {
      grid-column: span 2;

      &:nth-child(9n - 3)
      {
        grid-column: 2 / span 2;
      }
    }

    @include bplte(xs)
    {
      grid-row: span 2;

      &:nth-child(9n - 3)
      {
        grid-row: 2 / span 2;
      }
    }
  }
}
