.ImportAndExport {
    display: flex;
    align-items: center;
    justify-content: center;
  
    &-button {
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 32px;
      cursor: pointer;
      background: none;
      border: none;
      color: inherit;
  
      i {
        margin-right: $gutter/2;
      }
  
      &:hover,
      &:active {
        text-decoration: underline;
      }
    }
  }
  