.LineButtons
{
  padding: $gutter-mini;

  &--inDrawer
  {
    padding: 0;
    min-width: $drawer-closed-width - $gutter-mini*2;
  }

  &--inDrawer &-item
  {
    width: 100%;
    padding: 2px 0;
  }

  &--inDrawer &-button
  {
    width: 100%;
    padding: $gutter/2;
  }

  &--inDrawer &-linePrev
  {
    width: $gutter-mini*2;
    height: $gutter-mini*2;
  }

  &--inDrawer &-addIcon
  {
    font-size: $gutter-mini*2;
    width: $gutter-mini*2;
    height: $gutter-mini*2;
  }

  &-addNewGroup
  {
    display: flex;
    align-items: center;
    padding: $gutter/4;
    margin-top: $gutter/4;

    @include bplte(sm)
    {
      margin-top: $gutter/2;
      padding: $gutter/4 0;
      max-width: 100%;
      overflow: hidden;
    }

    &:hover .LineButtons-addNewGroupText
    {
      text-decoration: underline;
    }

    i
    {
      margin-right: $gutter/2;
      width: $gutter;

      @include bplte(sm)
      {
        flex-shrink: 0;
        width: 45px;
        margin: 0;
      }
    }
  }

  &-addNewGroupText
  {
    font-style: italic;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    @include bplte(sm)
    {
      flex-shrink: 0;
      text-overflow: unset;
    }
  }

  &-item
  {
    display: inline-block;
    padding: $gutter/4;
  }

  &-item--focused &-button
  {
    @include color(opp, border-color);

    &[data-lightcolor='true']
    {
      color: $black;
    }

    &[data-lightcolor='false']
    {
      color: $white;
    }
  }

  &-item--focused &-button[data-lightcolor='true'] &-linePrev
  {
    border-color: $black;
  }

  &-item--focused &-button[data-lightcolor='false'] &-linePrev
  {
    border-color: $white;
  }

  &-button
  {
    @include color(nearer, background-color);
    display: flex;
    align-items: center;
    border: $border-default transparent;
    border-radius: 100vh;
    padding: $gutter-mini;
    transition: $transition-fast background-color, $transition-fast border-color, $transition-fast color;

    @include bpgte(md)
    {
      border-radius: $gutter/2;
      padding: $gutter/4 $gutter-mini/2;
    }

    @include hoverActive
    {
      @include color(opp, border-color);
    }
  }

  &-linePrev
  {
    border: $border-default;
    width: $gutter;
    height: $gutter;
    margin-right: $gutter-mini;
    flex-shrink: 0;
    transition: $transition-fast border-color;

    @include bpgte(md)
    {
      margin-right: $gutter-mini/2;
    }
  }

  &-line,
  &-addText
  {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%;
    text-align: left;

    @include bplte(sm)
    {
      flex-shrink: 0;
      text-overflow: unset;
    }
  }

  &-addIcon
  {
    display: flex;
    align-items: center;
    justify-content: center;
    width: $gutter;
    height: $gutter;
    font-size: $gutter;
    margin-right: $gutter-mini;
    flex-shrink: 0;

    @include bpgte(md)
    {
      margin-right: $gutter-mini/2;
    }
  }
}
