.Map
{
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;

  &--searchResult
  {
    height: 100%;
    width: 100%;
    border-radius: $gutter-mini;
    overflow: hidden;
  }

  &--searchResult .mapboxgl-control-container
  {
    display: none;
  }

  &-popup
  {
    @include color(opp);
    @include color(trans, background-color);
    padding: $gutter/2;
    border-radius: $gutter/2;

    .mapboxgl-popup-tip
    {
      display: none;
    }

    .mapboxgl-popup-content
    {
      padding: 0;
      background: transparent;
      border-radius: 0;
      box-shadow: none;
    }
  }

  &-popupHead
  {
    display: block;
    display: flex;
    align-items: center;

    @include hoverActive
    {
      text-decoration: underline;
    }
  }

  &-popupIcon
  {
    border: $border-default;
    width: $gutter;
    height: $gutter;
    margin-right: $gutter/4;
    flex-shrink: 0;
  }

  &-popupLineName
  {
    font-size: 14px;
  }

  &-popupStationRow
  {
    margin-top: $gutter/4;
    line-height: 1;
  }

  &-popupStationName
  {
    font-weight: 700;
  }

  .mapboxgl-canvas-container,
  .mapboxgl-canvas
  {
    height: 100%;
    width: 100%;
    cursor: pointer;
  }

  .mapboxgl-ctrl-bottom-left .mapboxgl-ctrl:not(.mapboxgl-compact):not(.mapboxgl-ctrl-scale)
  {
    margin: 0 0 $gutter/2 $gutter/2;
  }


  .mapboxgl-ctrl-bottom-right .mapboxgl-ctrl.mapboxgl-compact
  {
    margin: 0 $gutter/2 $gutter/2 0;
  }

  .mapboxgl-ctrl-bottom-right .mapboxgl-ctrl:not(.mapboxgl-compact):not(.mapboxgl-ctrl-scale),
  .mapboxgl-ctrl-bottom-right .mapboxgl-ctrl.mapboxgl-compact-show
  {
    margin: 0 $gutter/4 $gutter/4 0;
  }

  .mapboxgl-ctrl-bottom-right .mapboxgl-ctrl-attrib:not(.mapboxgl-compact:not(.mapboxgl-compact-show))
  {
    @include color(trans, background-color);

    border-radius: $gutter-mini;

    a
    {
      color: rgba(255, 255, 255, 0.6);

      .LightMode &
      {
        color: rgba(0, 0, 0, 0.6);
      }
    }
  }

  .mapboxgl-ctrl-top-left,
  .mapboxgl-ctrl-top-right,
  .mapboxgl-ctrl-bottom-left,
  .mapboxgl-ctrl-bottom-right
  {
    z-index: 0;
  }

  .mapboxgl-ctrl-scale
  {
    @include color(trans, background-color);

    pointer-events: none;
    margin: 0 $gutter/4 $gutter/4 0;
    border: $border-default;
    border-top: 0;
    border-bottom: 0;
    line-height: $gutter;
    color: rgba(255, 255, 255, 0.6);
    border-color: rgba(255, 255, 255, 0.25);

    @include bplte(xs)
    {
      display: none;
    }

    .LightMode &
    {
      color: rgba(0, 0, 0, 0.6);
      border-color: rgba(0, 0, 0, 0.3);
    }
  }
}
