
$map-styles-expanded-height: 90px;

.MapStyles
{
  @include color(opp);

  &-toggle
  {
    display: flex;
    align-items: center;
    margin-bottom: $gutter/4;

    @include hoverActive
    {
      .MapStyles-toggleText
      {
        text-decoration: underline;
      }
    }

    i
    {
      transition: $transition-fast transform;
      transform: rotate(180deg);
      margin-left: $gutter/4;
    }

    &--collapsed i
    {
      transform: rotate(0);
    }
  }

  &-options
  {
    max-height: $map-styles-expanded-height;
    overflow: hidden;
    transition: $transition-fast max-height;

    &--collapsed
    {
      max-height: 0;
    }
  }

  &-label
  {
    display: flex;
    position: relative;
    align-items: center;
    cursor: pointer;
    font-size: 16px;

    &:not(:first-child)
    {
      margin-top: $gutter/4;
    }
  }

  &-input
  {
    position: absolute;
    opacity: 0;
    cursor: pointer;
  }

  &-check
  {
    @include color(opp, border-color);
    @include color(main, background-color);
    position: relative;
    border: $border-default;
    margin-right: $gutter/4;
    width: $gutter;
    height: $gutter;
    border-radius: 50%;

    &::before
    {
      @include color(main, background-color);
      content: '';
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: $gutter/2;
      height: $gutter/2;
      border-radius: $gutter/4;
      transition: $transition-fast all;
    }
  }

  &-input:checked + &-check::before
  {
    @include color(opp, background-color);
  }
}
