.PaginatedSystems
{
  width: 100%;

  &-none
  {
    padding: $gutter;
    text-align: center;
  }

  &-list
  {
    display: flex;
    width: 100%;

    @include bpgte(sm)
    {
      flex-wrap: wrap;
    }

    @include bplte(xs)
    {
      flex-direction: column;
    }
  }

  &-col
  {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;

    @include bpgte(sm)
    {
      flex-basis: percentage(1/3);
      flex-grow: 0;
    }
  }

  &-system
  {
    width: 100%;
    padding: $gutter/2;
  }

  &-resultPlaceholder
  {
    height: 0;
    padding-bottom: percentage(9/16); // match result aspect ratio
  }

  &-showMore
  {
    display: flex;
    align-items: center;
    padding: $gutter/2;
    margin-left: auto;
    margin-right: auto;
    opacity: 1;
    transition: opacity $transition-fast;

    i
    {
      font-size: 24px;
      margin-right: $gutter-mini/2;
    }

    @include hoverActive
    {
      opacity: 0.75;

      .PaginatedSystems-moreText
      {
        text-decoration: underline;
      }
    }
  }
}
