.Profile
{
  @include color(opp);
  display: flex;
  flex-direction: column;

  @include bpgte(md)
  {
    padding-left: $gutter/2;
    padding-right: $gutter/2;
  }

  &-bannerSystem
  {
    padding: 0 $gutter;
  }

  &-lead
  {
    padding: 0 $gutter;
    margin-top: $gutter;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;

    @include bplte(xs)
    {
      margin-top: $gutter/2;
    }
  }

  &-core
  {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
  }

  &-icon
  {
    @include color(near, background-color);
    position: relative;
    height: $gutter*6;
    width: $gutter*6;
    border-radius: $gutter*3;
    margin-right: $gutter;
    display: flex;
    align-items: center;
    justify-content: center;

    @include bplte(xs)
    {
      height: $gutter*4;
      width: $gutter*4;
    }

    &--edit
    {
      border: $border-thin-transparent;
      transition: $transition-fast border-color;

      @include hoverActive
      {
        @include color(opp, border-color);
      }
    }

    i
    {
      position: absolute;
      right: $gutter/2;
      top: $gutter;

      @include bplte(xs)
      {
        right: $gutter/4;
        top: $gutter/2;
      }
    }
  }

  &-image
  {
    height: $gutter*3;

    @include bplte(xs)
    {
      height: $gutter*2;
    }
  }

  &-titleRow
  {
    display: flex;
    align-items: center;
  }

  &-badges
  {
    display: flex;
    align-items: center;
  }

  &-badge
  {
    @include color(opp);
    display: flex;
    justify-content: center;
    font-size: 24px;
    min-width: $gutter-mini*2;
    margin-left: $gutter-mini;

    @include bplte(xs)
    {
      font-size: 20px;
      min-width: 20px;
      margin-left: $gutter/2;
    }

    &--admin
    {
      @include color(comment);
    }
  }

  &-joinedDate
  {
    padding-bottom: $gutter/2;
    font-size: 16px;

    @include bplte(xs)
    {
      font-size: 14px;
    }
  }

  &-editButtons
  {
    display: flex;
    align-items: center;

    @include bplte(xs)
    {
      flex-basis: 100%;
      order: -1;
      justify-content: flex-end;
    }
  }

  &-button
  {
    padding: $gutter-mini;

    &--edit,
    &--save
    {
      @include Button--primary;
      border-radius: 100vh;
    }

    &--cancel
    {
      @include Link;
      font-style: italic;
    }

    &:not(:first-child)
    {
      margin-left: $gutter;

      @include bplte(xs)
      {
        margin-left: $gutter-mini;
      }
    }
  }

  &-blockWrapper
  {
    @include bplte(xs)
    {
      display: flex;
      justify-content: flex-end;
      flex-basis: 100%;
      order: -1;
    }
  }

  &-blockButton
  {
    margin: $gutter-mini;

    @include bplte(xs)
    {
      font-size: 16px;
      min-width: $gutter;
      justify-content: flex-end;
    }
  }

  &-bio
  {
    flex-basis: 100%;
    padding: $gutter/2 $gutter;

    @include bplte(xs)
    {
      padding-left: 0;
      padding-right: 0;
    }
  }

  &-main
  {
    display: flex;

    @include bplte(sm)
    {
      flex-direction: column-reverse;
    }
  }

  &-content
  {
    flex-grow: 1;
  }

  &-tabs
  {
    display: flex;
    width: 100%;
    justify-content: center;
    padding: 0 $gutter;
  }

  &-tab
  {
    flex-basis: 25%;
    padding: $gutter-mini;
    border-bottom: $border-default;
    border-color: transparent;
    transition: $transition-fast border-color;

    &--active
    {
      @include color(opp, border-color);
    }

    @include hoverActive
    {
      @include color(mid, border-color);
    }

    @include bp(sm)
    {
      flex-basis: percentage(1/3);
    }

    @include bplte(xs)
    {
      flex-basis: 50%;
    }
  }

  &-noSystems
  {
    padding: $gutter;
    font-style: italic;
    text-align: center;

    &--hidden
    {
      display: none;
    }
  }

  &-systems
  {
    display: flex;
    flex-wrap: wrap;
    padding: $gutter/2;

    &--hidden
    {
      display: none;
    }
  }

  &-noStars
  {
    padding: $gutter;
    font-style: italic;
    text-align: center;

    &--hidden
    {
      display: none;
    }
  }

  &-starredSystems
  {
    display: flex;
    flex-wrap: wrap;
    padding: $gutter/2;

    &--hidden
    {
      display: none;
    }
  }

  &-systemPreview
  {
    padding: $gutter/2;
    flex-basis: 50%;

    @include bpgte(lg)
    {
      flex-basis: percentage(1/3);
    }

    @include bplte(xs)
    {
      flex-basis: 100%;
    }
  }
}
