
.Result
{
  @include color(opp);
  @include color(near, background-color);
  display: block;
  position: relative;
  height: 0;
  text-align: left;
  padding-bottom: percentage(9/16); // 16:9 ratio, like a video
  outline-style: none;
  outline-width: 2px;
  border-radius: $gutter-mini;
  overflow: hidden;
  transition: $transition-fast outline;

  &--ready
  {
    @include color(nearer, border-color);

    @include bplte(sm)
    {
      @include color(near, border-color);
    }
  }

  @include bpgte(sm)
  {
    &--feature
    {
      padding-bottom: percentage(6/16);
    }

    &--feature &-infoWrap
    {
      padding: $gutter;
    }

    &--feature &-title
    {
      font-size: $gutter*2;
    }

    &--feature &-subtext
    {
      font-size: $gutter;
    }
  }

  @include hoverActive
  {
    @include color(further, border-color);
    outline-style: solid;

    .Result-infoWrap
    {
      padding-top: $gutter/4;
      background-color: rgba(0, 0, 0, 0.30);

      .LightMode &
      {
        background-color: rgba(255, 255, 255, 0.30);
      }
    }
  }

  &-map
  {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;

    // needed to prevent overflow on iOS Safari
    .mapboxgl-canvas
    {
      border-radius: $gutter-mini;
      overflow: hidden;
    }
  }

  &-infoWrap
  {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: $gutter/2;
    transition: all $transition-fast;
    background-color: rgba(0, 0, 0, 0.40);

    .LightMode &
    {
      background-color: rgba(255, 255, 255, 0.40);
    }
  }

  &-title
  {
    font-size: $gutter;
    font-weight: 700;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
  }

  &-details
  {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: $gutter-mini;
    font-style: italic;
  }

  &-subtext
  {
    word-break: break-word;
  }

  &-owner--you
  {
    @include color(user);
    font-weight: 700;
  }

  &-starText
  {
    @include color(star);
    font-weight: 700;
  }

  &-pointText
  {
    @include color(branch);
    font-weight: 700;
  }
}
