.Revenue
{
  position: relative;

  &--explore1,
  &--explore2
  {
    padding: $gutter-mini;
  }

  &--focusLineDesktop,
  &--focusLineMobile
  {
    margin: $gutter-mini 0;
  }

  ins.Revenue-unit
  {
    &[data-ad-status=unfilled]:not([data-adtest=on]),
    &:not([data-ad-status=filled]):not([data-adtest=on])
    {
      height: 0 !important;
    }

    &:not([data-ad-status=filled])[data-adtest=on] > div > iframe
    {
      border: $red $border-thin !important;
    }

    & > div,
    & > div > iframe
    {
      max-width: 100%;
    }
  }

  &--explore1 ins.Revenue-unit,
  &--explore2 ins.Revenue-unit
  {
    &[data-ad-status=unfilled]:not([data-adtest=on]),
    &:not([data-ad-status=filled]):not([data-adtest=on])
    {
      height: 4px !important;

      &::before
      {
        @include color(near, background-color);
        content: '';
        display: block;
        position: absolute;
        left: $gutter-mini;
        top: 0;
        height: 4px;
        width: calc(100% - #{$gutter-mini*2});
      }
    }
  }

  &--focusLineDesktop ins.Revenue-unit,
  &--focusLineMobile ins.Revenue-unit
  {
    &[data-ad-status=unfilled]:not([data-adtest=on]),
    &:not([data-ad-status=filled]):not([data-adtest=on])
    {
      height: 1px !important;

      &::before
      {
        @include color(opp, background-color);
        content: '';
        display: block;
        position: absolute;
        left: 0;
        top: 0;
        height: 1px;
        width: 100%;
      }
    }
  }
}
