.Revenue
{
  position: relative;

  &--explore1,
  &--explore2
  {
    padding: $gutter-mini;
  }

  &--focusLineDesktop,
  &--focusLineMobile
  {
    margin: $gutter-mini 0 $gutter/4;
  }

  ins.Revenue-unit
  {
    max-width: 100% !important;
    margin: 0 !important;

    &[data-ad-status=unfilled]:not([data-adtest=on]),
    &:not([data-ad-status=filled]):not([data-adtest=on])
    {
      height: 0 !important;
    }

    &:not([data-ad-status=filled])[data-adtest=on] > div > iframe
    {
      border: $red $border-thin !important;
    }

    & > div,
    & > div > iframe
    {
      max-width: 100% !important;
    }
  }

  &--explore1 ins.Revenue-unit,
  &--explore2 ins.Revenue-unit
  {
    &[data-ad-status=unfilled]:not([data-adtest=on]),
    &:not([data-ad-status=filled]):not([data-adtest=on])
    {
      height: 4px !important;
      overflow: hidden !important;

      &::before
      {
        @include color(near, background-color);
        content: '';
        display: block;
        position: absolute;
        left: $gutter-mini;
        top: 0;
        height: 4px;
        width: calc(100% - #{$gutter-mini*2});
      }
    }
  }

  &--focusLineDesktop ins.Revenue-unit,
  &--focusLineMobile ins.Revenue-unit
  {
    &[data-ad-status=unfilled]:not([data-adtest=on]),
    &:not([data-ad-status=filled]):not([data-adtest=on])
    {
      height: 1px !important;
      overflow: hidden !important;

      &::before
      {
        @include color(opp, background-color);
        content: '';
        display: block;
        position: absolute;
        left: 0;
        top: 0;
        height: 1px;
        width: 100%;
      }
    }
  }

  &--focusStationDesktop ins.Revenue-unit,
  &--focusStationMobile ins.Revenue-unit
  {
    margin-top: $gutter-mini !important;

    &[data-ad-status=unfilled]:not([data-adtest=on]),
    &:not([data-ad-status=filled]):not([data-adtest=on])
    {
      margin-top: 0 !important;
    }
  }

  &--searchDesktop ins.Revenue-unit
  {
    min-width: 172px !important;
    padding: $gutter-mini/2 !important;

    &[data-ad-status=unfilled]:not([data-adtest=on]),
    &:not([data-ad-status=filled]):not([data-adtest=on])
    {
      min-width: unset !important;
      width: 0 !important;
      padding: 0 !important;

      & > div,
      & > div > iframe
      {
        min-width: unset !important;
        width: 0 !important;
      }
    }

    & > div > iframe
    {
      position: fixed !important;
      top: $header-height + $gutter-mini/2 !important;
      right: $gutter-mini !important;
      left: unset !important;
    }
  }

  &--searchMobile ins.Revenue-unit
  {
    margin: $gutter-mini/2 !important;

    &[data-ad-status=unfilled]:not([data-adtest=on]),
    &:not([data-ad-status=filled]):not([data-adtest=on])
    {
      margin: 0 !important;
    }
  }
}
