.Settings
{
  &-container
  {
    width: 300px;
  }

  &-setting
  {
    &:not(:first-child)
    {
      margin-top: $gutter;
    }
  }

  &-settingTitle
  {
    margin-bottom: $gutter/4;

    i
    {
      margin-left: $gutter/2;
    }
  }

  &-username
  {
    display: flex;
    align-items: center;
  }

  &-usernameInput
  {
    @include Focus-name;
    flex-grow: 1;
  }

  &-submitButton
  {
    height: 36px;
    width: 36px;
    padding: $gutter/2;
  }

  &-blocks,
  &-dangerZone
  {
    position: relative;
    display: flex;
    align-items: center;
    margin-bottom: $gutter/4;

    &:hover .Settings-blocksText,
    &:hover .Settings-dangerZoneText
    {
      text-decoration: underline;
    }

    i
    {
      position: relative;
      top: 1px;
      transition: $transition-fast transform;
    }
  }

  &-blocks--expanded,
  &-dangerZone--expanded
  {
    i
    {
      transform: rotate(180deg);
    }
  }

  &-blocksText,
  &-dangerZoneText
  {
    margin-left: $gutter-mini/2;
  }

  &-blockedUsers,
  &-dangerousButtons
  {
    max-height: 0;
    overflow: hidden;
    transition: $transition-fast max-height;

    &--expanded
    {
      max-height: 200px;
      overflow: auto;
    }
  }

  &-blocksLoading,
  &-noBlocks
  {
    font-style: italic;
  }

  &-blockedUser
  {
    padding: $gutter/4 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &-blockedUserInfo
  {
    display: flex;
    align-items: center;
  }

  &-blockedUserIcon
  {
    height: $gutter-mini*2;
    width: $gutter*2;
    flex-shrink: 0;
  }

  &-blockedUserName
  {
    padding-left: $gutter/4;
    text-overflow: ellipsis;
    overflow: hidden;
  }

  &-unblock
  {
    margin-left: $gutter/2;
    flex-shrink: 0;
    font-style: italic;
  }

  &-signOut
  {
    font-style: italic;
  }

  &-dangerousButtons
  {
    @include color(alert, color);
  }

  &-deleteAccount
  {
    font-style: italic;
    margin-top: $gutter-mini/2;
  }
}
