.Start
{
  @include MaxContentHeight;
  @include color(opp);
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding: $gutter*2;

  @include bplte(xs)
  {
    align-items: center;
    flex-direction: column;
    padding: $gutter;
  }

  &-heading
  {
    text-align: center;
    font-weight: 700;
    font-size: $gutter-mini*2;
    padding-bottom: $gutter;
  }

  &-upper,
  &-lower
  {
    z-index: 1;
    height: 100%;
    width: 325px;
    overflow-y: auto;
    display: flex;
    flex-direction: column;

    @include bplte(xs)
    {
      max-width: 100%;
    }
  }

  &-defaultChoices
  {
    @include color(trans, background-color);
    border-radius: $gutter-mini;
  }

  &-defaultChoice
  {
    display: block;
    width: 100%;
    font-size: $gutter;
    font-size: $gutter-mini*2;
    padding: $gutter-mini;
    border: $border-thin-transparent;
    border-radius: $gutter-mini;
    transition: border-color $transition-xfast;

    @include hoverActive
    {
      @include color(opp, border-color);
    }
  }

  &-lower
  {
    margin-left: $gutter*2;

    @include bplte(xs)
    {
      margin-top: $gutter;
      margin-left: 0;
    }
  }

  .mapboxgl-ctrl-geocoder
  {
    width: 100%;
    background-color: unset;
    font-family: inherit;
  }

  .mapboxgl-ctrl-geocoder--input
  {
    @include color(opp);
    @include color(mid, border-color);
    @include color(trans, background-color);
    appearance: none;
    height: 42px;
    width: 100%;
    font-size: $gutter;
    line-height: $gutter-mini*2;
    padding: $gutter/2 $gutter*2 $gutter/2 $gutter;
    text-align: left;
    border: $border-thin;
    border-radius: $gutter-mini;
    transition: $transition-fast all;

    &:focus
    {
      @include color(opp, border-color);
      // ensure element size stays constant as border increases
      padding: $gutter/2 - 1px $gutter*2 - 1px $gutter/2 - 1px $gutter - 1px;
      outline: none;
      border: $border-default;
      border-radius: $gutter-mini*2;
    }

    &::placeholder
    {
      color: inherit;
      font-style: italic;
      text-align: center;
    }
  }

  .mapboxgl-ctrl-geocoder--icon-search
  {
    display: none;
  }

  .mapboxgl-ctrl-geocoder--icon-close
  {
    @include bplte(xs)
    {
      margin-top: 4px;
    }
  }

  .mapboxgl-ctrl-geocoder--button
  {
    background-color: transparent;
  }

  .mapboxgl-ctrl-geocoder--pin-right .mapboxgl-ctrl-geocoder--button
  {
    @include bpgte(sm)
    {
      top: 10px;
      right: $gutter-mini;
    }

    &:hover
    {
      background-color: transparent;
    }
  }

  .suggestions
  {
    @include color(trans, background-color);
    @include color(opp);
    border-radius: $gutter-mini;
    box-shadow: none;

    li a
    {
      @include color(opp);
      border: $border-thin-transparent;
      border-radius: $gutter-mini;
      transition: border-color $transition-xfast;
    }

    li a:hover,
    li.active a
    {
      @include color(opp);
      @include color(opp, border-color);
      background-color: transparent;
    }
  }

  .mapboxgl-ctrl-geocoder--suggestion-title
  {
    font-size: 16px;
  }

  .mapboxgl-ctrl-geocoder--suggestion-address
  {
    font-size: 14px;
  }
}
