.Station
{
  &-close
  {
    @include CloseButton;
  }

  &-nameWrap
  {
    display: flex;
    align-items: center;
    padding: 0 $gutter*2 0 $gutter-mini;
  }

  &-infoButton
  {
    @include color(opp);
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-size: $gutter-mini*2;
    line-height: 1;
    height: $gutter*2;
    flex-basis: 40px;
    flex-shrink: 0;
    margin-right: $gutter/4;
    transition: $transition-fast font-size;

    @include hoverActive
    {
      font-size: $gutter*2;
    }
  }

  &-name
  {
    @include Focus-name;
    width: 100%;
  }

  &-grade--button,
  &-interchangeButton--add
  {
    @include SlideHover;
  }

  &-interchange
  {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &-grade,
  &-interchangeButton
  {
    display: flex;
    align-items: center;
    padding: $gutter-mini/2 0;

    @include hoverActive
    {
      .Station-interchangeName
      {
        text-decoration: underline;
      }
    }

    i
    {
      font-size: $gutter;
      line-height: 1;
      width: $gutter;
      margin-right: $gutter/2;
      flex-shrink: 0;
    }
  }

  &-interchangeText
  {
    text-align: left;
  }

  &-interchangeWalkTime
  {
    font-style: italic;
    margin-left: 0.5ch;
  }

  &-interchangeRemove
  {
    padding: $gutter/4;
    transition: opacity $transition-xfast;

    @include hoverActive
    {
      opacity: 0.75;
    }
  }

  &-info
  {
    margin-top: $gutter-mini;

    &--loading
    {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }

  &-spinner,
  &-loadingText
  {
    margin-top: $gutter;
  }

  &-densityScore
  {
    text-align: center;
    margin-top: $gutter;
  }

  &-densityTitle
  {
    margin-right: 1ch;
    padding-left: $gutter;
  }

  &-densityScoreNum
  {
    margin-top: $gutter/2;
    font-size: 48px;
  }

  &-facts
  {
    margin-top: $gutter-mini;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &-fact
  {
    &:not(:first-child)
    {
      margin-top: $gutter-mini/2;
    }

    sup
    {
      font-size: 75%;
      vertical-align: super;
    }

    i
    {
      margin-left: $gutter/2;
    }
  }

  &-factValue
  {
    font-weight: 700;
  }

  &-usageHeading
  {
    text-align: center;
  }

  &-usageChart
  {
    margin: $gutter/2 auto 0;
  }

  &-chartLegend
  {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  &-chartLegendEntry
  {
    display: flex;
    align-items: center;
    font-size: 12px;
    margin: $gutter/4 $gutter/4 0;

    &::before
    {
      content: '';
      width: 14px;
      height: 14px;
      border-radius: 50%;
      margin-right: $gutter-mini/2;
    }

    &--3cb44b
    {
      color: #3cb44b;

      &::before
      {
        background-color: #3cb44b;
      }
    }

    &--4363d8
    {
      color: #4363d8;

      &::before
      {
        background-color: #4363d8;
      }
    }

    &--911eb4
    {
      color: #911eb4;

      &::before
      {
        background-color: #911eb4;
      }
    }

    &--ffe119
    {
      color: #ffe119;

      &::before
      {
        background-color: #ffe119;
      }
    }

    &--9a6324
    {
      color: #9a6324;

      &::before
      {
        background-color: #9a6324;
      }
    }

    &--e6194b
    {
      color: #e6194b;

      &::before
      {
        background-color: #e6194b;
      }
    }

    &--a9a9a9
    {
      color: #a9a9a9;

      &::before
      {
        background-color: #a9a9a9;
      }
    }
  }

  &-noLine
  {
    font-style: italic;
  }

  &-lines
  {
    display: flex;
    flex-wrap: wrap;
    margin-top: 0;
    margin-bottom: $gutter/4;
    margin-left: -$gutter/4;
    margin-right: -$gutter/4;

    @include bplte(xs)
    {
      margin-top: $gutter/4;
    }
  }

  &-lineWrap
  {
    margin: $gutter/4;
  }

  &-linePrev
  {
    @include color(opp, border-color);
    border: $border-default;
    width: $gutter-mini*2;
    height: $gutter-mini*2;
    position: relative;

    &--hidden
    {
      opacity: 0.5;
    }
  }

  &-indicator
  {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    &[data-lightcolor='true']
    {
      color: $black;
    }

    &[data-lightcolor='false']
    {
      color: $white;
    }

    i
    {
      font-size: $gutter;
    }
  }

  &-addButtons
  {
    margin-top: $gutter;
  }

  &-addButtonWrap
  {
    @include SlideHover;
    margin-top: $gutter/2;
    display: flex;
    align-items: center;
    text-align: left;
  }

  &-addButtonPrev
  {
    @include color(opp, border-color);
    border: $border-default;
    width: $gutter;
    height: $gutter;
    margin-right: $gutter/2;
    flex-shrink: 0;
  }

  &-convertWaypoints,
  &-deleteWrap
  {
    width: 100%;
    margin-top: $gutter-mini;
  }

  &-convert,
  &-delete
  {
    width: 100%;
    text-align: left;
    font-style: italic;
  }

  &-convert--individual
  {
    margin-top: $gutter-mini/2;
  }
}
