$font-main: 'Lato', sans-serif;
$gutter: 16px;
$gutter-mini: 12px;

$black: #000;
$white: #fff;
$gray-dark: #353638;
$gray-light: #e6e5e3;
$gray-darker: #2c2c2e;
$gray-lighter: #f7f7f5;
$black-transparent: rgba(0, 0, 0, 0.55);
$white-transparent: rgba(255, 255, 255, 0.55);

$gold: #fcd556;

$border-default: 2px solid;
$border-thick: 4px solid;
$border-thin: 1px solid;
$border-thin-transparent: 1px solid transparent;

$transition-slow: 400ms ease-in-out;
$transition-fast: 200ms ease-in-out;
$transition-xfast: 100ms ease-in-out;

$screen-xs-min: 480px;
$screen-xs-max: 767px;
$screen-sm-min: 768px;
$screen-sm-max: 991px;
$screen-md-min: 992px;
$screen-md-max: 1199px;
$screen-lg-min: 1200px;

$container-tablet-base: 768px;
$container-desktop-base: 992px;
$container-large-desktop-base: 1170px;

$main-header-height: 48px;
