@mixin Focus
{
  position: absolute;
  display: flex;
  flex-direction: column;
  background-color: $black-transparent;
  top: $gutter;
  right: $gutter;
  height: calc(100% - #{$gutter*2});
  width: 300px;
  padding: $gutter;
  color: $white;
  z-index: 1;
}
