@mixin Focus
{
  position: absolute;
  display: flex;
  flex-direction: column;
  background-color: $black-transparent;
  bottom: $gutter;
  right: $gutter;
  height: calc(100% - #{$gutter*2});
  width: 300px;
  padding: $gutter;
  color: $white;
  overflow: auto;
  z-index: 3;

  @include bplte(xs)
  {
    height: auto;
    width: calc(100% - #{$gutter*2});
  }
}

.Focus
{
  @include Focus;
}

@mixin Link
{
  text-decoration: none;

  &:hover
  {
    text-decoration: underline;
  }
}

.Link
{
  @include Link;
}

@mixin Focus-name
{
  text-align: center;
  padding: $gutter/2;
  background-color: transparent;
  border: $border-thin-transparent;
  border-bottom-color: $white;
  transition: border-color $transition-xfast;

  &:focus
  {
    outline: 0;
    border-color: $white;
  }
}

.Focus-name
{
  @include Focus-name;
}

@mixin NoPointer
{
  // Use for innermost no pinter events wrapper
  pointer-events: none;

  & > *
  {
    pointer-events: all;
  }
}

.NoPointer
{
  @include NoPointer;
}
