.FocusAnim
{
  transition: opacity $transition-slow;

  &-appear
  {
    opacity: 0.01;
  }

  &-appear-active
  {
    opacity: 1;
  }

  &-enter
  {
    opacity: 0.01;
  }

  &-enter-active
  {
    opacity: 1;
  }

  &-leave
  {
    opacity: 1;
  }

  &-leave-active
  {
    opacity: 0.01;
  }
}

.ControlsAnim
{
  transition: opacity $transition-fast;

  &-appear
  {
    opacity: 0.01;
  }

  &-appear-active
  {
    opacity: 1;
  }

  &-enter
  {
    opacity: 0.01;
  }

  &-enter-active
  {
    opacity: 1;
  }

  &-leave
  {
    opacity: 1;
  }

  &-leave-active
  {
    opacity: 0.01;
  }
}
