$font-main: 'Lato', sans-serif;
$gutter: 16px;
$gutter-mini: 12px;

$white: #fff;
$black-transparent: rgba(0, 0, 0, 0.4);

$border-default: 2px solid $white;
$border-thin: 1px solid $white;
$border-thin-transparent: 1px solid transparent;

