// general global styling

#root
{
  height: 100%;
}

.Theme
{
  min-height: 100%;
  display: flex;
  flex-direction: column;
  position: relative;

  main
  {
    flex-grow: 1;
    position: relative;
  }

  .Drawer + main
  {
    padding-left: $drawer-width;
    transition: $transition-slow padding-left;

    @include bplte(sm)
    {
      padding-left: $drawer-closed-width;
    }
  }
}

.Theme.DarkMode
{
  background-color: $gray-darker;
}

.Theme.LightMode
{
  background-color: $gray-lighter;
}

.js-focus-visible :focus:not(.focus-visible)
{
  // Only shows focus when using keyboard, not clicking
  outline: none;
}
