.FocusAnim
{
  transition: opacity $transition-slow;

  &-enter
  {
    opacity: 0.01;
  }

  &-enter-active
  {
    opacity: 1;
  }

  &-exit
  {
    opacity: 1;
  }

  &-exit-active
  {
    opacity: 0.01;
  }
}

.FadeAnim
{
  transition: opacity $transition-slow;

  &-enter
  {
    opacity: 0.01;
  }

  &-enter-active
  {
    opacity: 1;
  }

  &-exit
  {
    opacity: 1;
  }

  &-exit-active
  {
    opacity: 0.01;
  }
}
