.FocusAnim
{
  transition: opacity $transition-slide, max-height $transition-slide;

  &-enter
  {
    .System--fullscreen &
    {
      opacity: 0.01;
    }

    .System--normal &
    {
      max-height: 0;

      .Focus-content
      {
        overflow: hidden;
      }
    }
  }

  &-enter-active
  {
    .System--fullscreen &
    {
      opacity: 1;
    }

    .System--normal &
    {
      max-height: calc(100vh - #{$gutter-mini*4 + $header-height});

      @include bplte(xs)
      {
        max-height: 100vh;
      }
    }
  }

  &-enter-done
  {
    .System--fullscreen &
    {
      opacity: 1;
    }

    .System--normal &
    {
      max-height: calc(100vh - #{$gutter-mini*4 + $header-height});

      @include bplte(xs)
      {
        max-height: unset;
      }
    }
  }

  &-exit
  {
    .System--fullscreen &
    {
      opacity: 1;
    }

    .System--normal &
    {
      max-height: calc(100vh - #{$gutter-mini*4 + $header-height});

      .Focus-content
      {
        overflow: hidden;
      }
    }
  }

  &-exit-active,
  &-exit-done
  {

    .System--fullscreen &
    {
      opacity: 0.01;
    }

    .System--normal &
    {
      max-height: 0;
    }
  }
}

.FadeAnim
{
  transition: opacity $transition-slow;

  &-enter
  {
    opacity: 0.01;
  }

  &-enter-active
  {
    opacity: 1;
  }

  &-exit
  {
    opacity: 1;
  }

  &-exit-active
  {
    opacity: 0.01;
  }
}
