.FocusAnim
{

  &-enter
  {
    .System--fullscreen &
    {
      opacity: 0.01;
    }

    .System--normal &
    {
      max-height: 0;
      overflow: hidden;

      .Focus-content
      {
        overflow: hidden;
      }
    }
  }

  &-enter-active
  {
    transition: opacity $transition-slow, max-height $transition-slide, padding $transition-slide;

    .System--fullscreen &
    {
      opacity: 1;
    }

    .System--normal &
    {
      max-height: calc(100vh - #{$gutter-mini*2 + $header-height});

      @include bplte(sm)
      {
        max-height: 100vh;
      }
    }
  }

  &-enter-done
  {
    .System--fullscreen &
    {
      opacity: 1;
    }

    .System--normal &
    {
      max-height: calc(100vh - #{$gutter-mini*2 + $header-height});

      @include bplte(sm)
      {
        max-height: unset;
      }
    }
  }

  &-exit
  {
    .System--fullscreen &
    {
      opacity: 1;
    }

    .System--normal &
    {
      max-height: calc(100vh - #{$gutter-mini*4 + $header-height});

      .Focus-content
      {
        overflow: hidden;
      }
    }
  }

  &-exit-active
  {
    transition: opacity $transition-slow, max-height $transition-slide, padding $transition-slide;

    .System--fullscreen &
    {
      opacity: 0.01;
    }

    .System--normal &
    {
      max-height: 0;
      padding: 0;
      overflow: hidden;
    }
  }

  &-exit-done
  {

    .System--fullscreen &
    {
      opacity: 0;
    }

    .System--normal &
    {
      max-height: 0;
      padding: 0;
      overflow: hidden;
    }
  }
}

.FadeAnim
{

  &-enter
  {
    opacity: 0.01;
  }

  &-enter-active
  {
    opacity: 1;
    transition: opacity $transition-slow;
  }

  &-enter-done
  {
    opacity: 1;
  }

  &-exit
  {
    opacity: 1;
  }

  &-exit-active
  {
    opacity: 0.01;
    transition: opacity $transition-slow;
  }

  &-exit-done
  {
    opacity: 0;
  }
}
