$gutter: 16px;
$gutter-mini: 12px;

$black: #000;
$white: #fff;
$gray-dark: #272727;
$gray-light: #e6e5e3;
$gray-darker: #191a1a;
$gray-lighter: #f7f7f5;
$gray-mid: #888888;
$black-transparent: rgba(0, 0, 0, 0.55);
$white-transparent: rgba(255, 255, 255, 0.55);

$red: #f52811;
$gold-dark:#dbae1a;
$gold-light: #fcd556;
$blue-dark: #4363d8;
$blue-light: #577bff;
$magenta-dark: #bd28b4;
$magenta-light: #e632db;
$green-dark: #158223;
$green-light: #199e2a;
$orange-dark: #a65f02;
$orange-light: #cc7504;

$border-default: 2px solid;
$border-thick: 4px solid;
$border-thin: 1px solid;
$border-thin-transparent: 1px solid transparent;

$transition-slide: 400ms;
$transition-slow: 400ms ease-in-out;
$transition-fast: 200ms ease-in-out;
$transition-xfast: 100ms ease-in-out;

$screen-xs-min: 480px;
$screen-xs-max: 767px;
$screen-sm-min: 768px;
$screen-sm-max: 991px;
$screen-md-min: 992px;
$screen-md-max: 1199px;
$screen-lg-min: 1200px;

$container-tablet-base: 768px;
$container-desktop-base: 992px;
$container-large-desktop-base: 1170px;

$star-width: 36px;
$branch-width: 28px;

$header-height: 56px;
$main-header-height: 48px;
$default-header-height: 74px;
$footer-height: 59px;
$drawer-width: 250px;
$drawer-closed-width: 69px;
